<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.beauty.dao.ext.BeautyProfitExtMapper" >
   
   <update id="updateBeautyProfitState" parameterType="java.util.Map" >
		update mdd_api_beauty_profit set state=0 where  beauty_id=#{beautyId}  and type=#{type} 
   </update>
 
</mapper>