<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.coupon.dao.UserCouponMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.coupon.entity.UsersCoupon" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="coupon_id" property="couponId" jdbcType="INTEGER" />
    <result column="coupon_title" property="couponTitle" jdbcType="VARCHAR" />
    <result column="send_type" property="sendType" jdbcType="TINYINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="use_type" property="useType" jdbcType="TINYINT" />
    <result column="money_max" property="moneyMax" jdbcType="DECIMAL" />
    <result column="money_reduce" property="moneyReduce" jdbcType="DECIMAL" />
    <result column="money_amount" property="moneyAmount" jdbcType="DECIMAL" />
    <result column="discount" property="discount" jdbcType="REAL" />
    <result column="use_time" property="useTime" jdbcType="INTEGER" />
    <result column="expiry_type" property="expiryType" jdbcType="TINYINT" />
    <result column="expires_time" property="expiresTime" jdbcType="INTEGER" />
    <result column="item_type" property="itemType" jdbcType="TINYINT" />
    <result column="reduce_max" property="reduceMax" jdbcType="DECIMAL" />
    <result column="starttime" property="starttime" jdbcType="INTEGER" />
    <result column="is_use" property="isUse" jdbcType="TINYINT" />
    <result column="is_service" property="isService" jdbcType="TINYINT" />
    <result column="is_mcard" property="isMcard" jdbcType="TINYINT" />
    <result column="is_vcard" property="isVcard" jdbcType="TINYINT" />
    <result column="service_id" property="serviceId" jdbcType="VARCHAR" />
    <result column="mcard_id" property="mcardId" jdbcType="VARCHAR" />
    <result column="vcard_id" property="vcardId" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="beauty_id" property="beautyId" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, coupon_id, coupon_title, send_type, type, use_type, money_max, money_reduce, 
    money_amount, discount, use_time, expiry_type, expires_time, item_type, reduce_max, 
    starttime, is_use, is_service, is_mcard, is_vcard, service_id, mcard_id, vcard_id, 
    city, beauty_id, state, createtime
  </sql>

  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.coupon.entity.UsersCouponExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_users_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.coupon.entity.UsersCouponExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_users_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <insert id="insert" parameterType="com.airmcl.air.coupon.entity.UsersCoupon" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_users_coupon (
      user_id, coupon_id, coupon_title, 
      send_type, type, use_type, 
      money_max, money_reduce, money_amount, 
      discount, use_time, expiry_type, 
      expires_time, item_type, reduce_max, 
      starttime, is_use, is_service, 
      is_mcard, is_vcard, service_id, 
      mcard_id, vcard_id, city, 
      beauty_id, state, createtime
      )
    values (#{userId,jdbcType=CHAR}, #{couponId,jdbcType=INTEGER}, #{couponTitle,jdbcType=VARCHAR}, 
      #{sendType,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, #{useType,jdbcType=TINYINT}, 
      #{moneyMax,jdbcType=DECIMAL}, #{moneyReduce,jdbcType=DECIMAL}, #{moneyAmount,jdbcType=DECIMAL},
      #{discount,jdbcType=REAL}, #{useTime,jdbcType=INTEGER}, #{expiryType,jdbcType=TINYINT}, 
      #{expiresTime,jdbcType=INTEGER},#{itemType,jdbcType=TINYINT}, #{reduceMax,jdbcType=DECIMAL}, 
      #{starttime,jdbcType=INTEGER}, #{isUse,jdbcType=TINYINT}, #{isService,jdbcType=TINYINT}, 
      #{isMcard,jdbcType=TINYINT}, #{isVcard,jdbcType=TINYINT}, #{serviceId,jdbcType=VARCHAR}, 
      #{mcardId,jdbcType=VARCHAR}, #{vcardId,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{beautyId,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, #{createtime,jdbcType=VARCHAR}
      )
  </insert>
  
</mapper>