<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.app.dao.AppBottomIconMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.app.entity.AppBottomIcon" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="max_select_icon" property="maxSelectIcon" jdbcType="VARCHAR" />
    <result column="select_icon" property="selectIcon" jdbcType="VARCHAR" />
    <result column="max_unselected_icon" property="maxUnselectedIcon" jdbcType="VARCHAR" />
    <result column="unselected_icon" property="unselectedIcon" jdbcType="VARCHAR" />
    <result column="font_color" property="fontColor" jdbcType="VARCHAR" />
    <result column="is_url" property="isUrl" jdbcType="TINYINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, max_select_icon, select_icon, max_unselected_icon, unselected_icon, font_color, 
    is_url, url, sort, state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.app.entity.AppBottomIconExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_app_bottom_icon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mdd_api_app_bottom_icon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mdd_api_app_bottom_icon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.airmcl.air.app.entity.AppBottomIconExample" >
    delete from mdd_api_app_bottom_icon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airmcl.air.app.entity.AppBottomIcon" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_app_bottom_icon (title, max_select_icon, select_icon, 
      max_unselected_icon, unselected_icon, font_color, 
      is_url, url, sort, state
      )
    values (#{title,jdbcType=VARCHAR}, #{maxSelectIcon,jdbcType=VARCHAR}, #{selectIcon,jdbcType=VARCHAR}, 
      #{maxUnselectedIcon,jdbcType=VARCHAR}, #{unselectedIcon,jdbcType=VARCHAR}, #{fontColor,jdbcType=VARCHAR}, 
      #{isUrl,jdbcType=TINYINT}, #{url,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{state,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.airmcl.air.app.entity.AppBottomIcon" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_app_bottom_icon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        title,
      </if>
      <if test="maxSelectIcon != null" >
        max_select_icon,
      </if>
      <if test="selectIcon != null" >
        select_icon,
      </if>
      <if test="maxUnselectedIcon != null" >
        max_unselected_icon,
      </if>
      <if test="unselectedIcon != null" >
        unselected_icon,
      </if>
      <if test="fontColor != null" >
        font_color,
      </if>
      <if test="isUrl != null" >
        is_url,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="maxSelectIcon != null" >
        #{maxSelectIcon,jdbcType=VARCHAR},
      </if>
      <if test="selectIcon != null" >
        #{selectIcon,jdbcType=VARCHAR},
      </if>
      <if test="maxUnselectedIcon != null" >
        #{maxUnselectedIcon,jdbcType=VARCHAR},
      </if>
      <if test="unselectedIcon != null" >
        #{unselectedIcon,jdbcType=VARCHAR},
      </if>
      <if test="fontColor != null" >
        #{fontColor,jdbcType=VARCHAR},
      </if>
      <if test="isUrl != null" >
        #{isUrl,jdbcType=TINYINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airmcl.air.app.entity.AppBottomIconExample" resultType="java.lang.Integer" >
    select count(*) from mdd_api_app_bottom_icon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mdd_api_app_bottom_icon
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.maxSelectIcon != null" >
        max_select_icon = #{record.maxSelectIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.selectIcon != null" >
        select_icon = #{record.selectIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.maxUnselectedIcon != null" >
        max_unselected_icon = #{record.maxUnselectedIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.unselectedIcon != null" >
        unselected_icon = #{record.unselectedIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.fontColor != null" >
        font_color = #{record.fontColor,jdbcType=VARCHAR},
      </if>
      <if test="record.isUrl != null" >
        is_url = #{record.isUrl,jdbcType=TINYINT},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mdd_api_app_bottom_icon
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      max_select_icon = #{record.maxSelectIcon,jdbcType=VARCHAR},
      select_icon = #{record.selectIcon,jdbcType=VARCHAR},
      max_unselected_icon = #{record.maxUnselectedIcon,jdbcType=VARCHAR},
      unselected_icon = #{record.unselectedIcon,jdbcType=VARCHAR},
      font_color = #{record.fontColor,jdbcType=VARCHAR},
      is_url = #{record.isUrl,jdbcType=TINYINT},
      url = #{record.url,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      state = #{record.state,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airmcl.air.app.entity.AppBottomIcon" >
    update mdd_api_app_bottom_icon
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="maxSelectIcon != null" >
        max_select_icon = #{maxSelectIcon,jdbcType=VARCHAR},
      </if>
      <if test="selectIcon != null" >
        select_icon = #{selectIcon,jdbcType=VARCHAR},
      </if>
      <if test="maxUnselectedIcon != null" >
        max_unselected_icon = #{maxUnselectedIcon,jdbcType=VARCHAR},
      </if>
      <if test="unselectedIcon != null" >
        unselected_icon = #{unselectedIcon,jdbcType=VARCHAR},
      </if>
      <if test="fontColor != null" >
        font_color = #{fontColor,jdbcType=VARCHAR},
      </if>
      <if test="isUrl != null" >
        is_url = #{isUrl,jdbcType=TINYINT},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airmcl.air.app.entity.AppBottomIcon" >
    update mdd_api_app_bottom_icon
    set title = #{title,jdbcType=VARCHAR},
      max_select_icon = #{maxSelectIcon,jdbcType=VARCHAR},
      select_icon = #{selectIcon,jdbcType=VARCHAR},
      max_unselected_icon = #{maxUnselectedIcon,jdbcType=VARCHAR},
      unselected_icon = #{unselectedIcon,jdbcType=VARCHAR},
      font_color = #{fontColor,jdbcType=VARCHAR},
      is_url = #{isUrl,jdbcType=TINYINT},
      url = #{url,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="com.airmcl.air.app.entity.AppBottomIcon" >
    insert into mdd_api_app_bottom_icon (id, title, max_select_icon, 
      select_icon, max_unselected_icon, 
      unselected_icon, font_color, is_url, 
      url, sort, state
      ) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{_uuid}, #{item.title,jdbcType=VARCHAR}, #{item.maxSelectIcon,jdbcType=VARCHAR}, 
        #{item.selectIcon,jdbcType=VARCHAR}, #{item.maxUnselectedIcon,jdbcType=VARCHAR}, 
        #{item.unselectedIcon,jdbcType=VARCHAR}, #{item.fontColor,jdbcType=VARCHAR}, #{item.isUrl,jdbcType=TINYINT}, 
        #{item.url,jdbcType=VARCHAR}, #{item.sort,jdbcType=INTEGER}, #{item.state,jdbcType=TINYINT}
        )
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.app.entity.AppBottomIconExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_app_bottom_icon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>





  <update id="updateStateByIds"  >

   update   mdd_api_app_bottom_icon  set state=0 WHERE  id in

    <foreach item="item" index="index" collection="ids"
             open="(" separator="," close=")">
      #{item}
    </foreach>

  </update>

</mapper>