<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.app.dao.BannerMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.app.entity.Banner" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="province_id" property="province_id" jdbcType="INTEGER" />
    <result column="city_id" property="city_id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="islink" property="islink" jdbcType="TINYINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="service_id" property="service_id" jdbcType="INTEGER" />
    <result column="service_type" property="service_type" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="createtime" property="createtime" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.airmcl.air.app.entity.Banner" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, province_id, city_id, title, tag, islink, url, service_id, service_type, sort, 
    `state`, createtime
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.airmcl.air.app.entity.BannerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mdd_api_banner
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.app.entity.BannerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_banner

    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mdd_api_banner
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mdd_api_banner
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.airmcl.air.app.entity.BannerExample" >
    delete from mdd_api_banner
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airmcl.air.app.entity.Banner" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_banner (province_id, city_id, title, 
      tag, islink, url, service_id, 
      service_type, sort, `state`, 
      createtime, description)
    values (#{province_id,jdbcType=INTEGER}, #{city_id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{tag,jdbcType=VARCHAR}, #{islink,jdbcType=TINYINT}, #{url,jdbcType=VARCHAR}, #{service_id,jdbcType=INTEGER}, 
      #{service_type,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{state,jdbcType=TINYINT}, 
      #{createtime,jdbcType=INTEGER}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.airmcl.air.app.entity.Banner" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_banner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="province_id != null" >
        province_id,
      </if>
      <if test="city_id != null" >
        city_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="islink != null" >
        islink,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="service_id != null" >
        service_id,
      </if>
      <if test="service_type != null" >
        service_type,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="state != null" >
        `state`,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="province_id != null" >
        #{province_id,jdbcType=INTEGER},
      </if>
      <if test="city_id != null" >
        #{city_id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="islink != null" >
        #{islink,jdbcType=TINYINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="service_id != null" >
        #{service_id,jdbcType=INTEGER},
      </if>
      <if test="service_type != null" >
        #{service_type,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airmcl.air.app.entity.BannerExample" resultType="java.lang.Integer" >
    select count(*) from mdd_api_banner
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mdd_api_banner
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.province_id != null" >
        province_id = #{record.province_id,jdbcType=INTEGER},
      </if>
      <if test="record.city_id != null" >
        city_id = #{record.city_id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.tag != null" >
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
      <if test="record.islink != null" >
        islink = #{record.islink,jdbcType=TINYINT},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.service_id != null" >
        service_id = #{record.service_id,jdbcType=INTEGER},
      </if>
      <if test="record.service_type != null" >
        service_type = #{record.service_type,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        `state` = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update mdd_api_banner
    set id = #{record.id,jdbcType=INTEGER},
      province_id = #{record.province_id,jdbcType=INTEGER},
      city_id = #{record.city_id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      tag = #{record.tag,jdbcType=VARCHAR},
      islink = #{record.islink,jdbcType=TINYINT},
      url = #{record.url,jdbcType=VARCHAR},
      service_id = #{record.service_id,jdbcType=INTEGER},
      service_type = #{record.service_type,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      `state` = #{record.state,jdbcType=TINYINT},
      createtime = #{record.createtime,jdbcType=INTEGER},
      description = #{record.description,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mdd_api_banner
    set id = #{record.id,jdbcType=INTEGER},
      province_id = #{record.province_id,jdbcType=INTEGER},
      city_id = #{record.city_id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      tag = #{record.tag,jdbcType=VARCHAR},
      islink = #{record.islink,jdbcType=TINYINT},
      url = #{record.url,jdbcType=VARCHAR},
      service_id = #{record.service_id,jdbcType=INTEGER},
      service_type = #{record.service_type,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      `state` = #{record.state,jdbcType=TINYINT},
      createtime = #{record.createtime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airmcl.air.app.entity.Banner" >
    update mdd_api_banner
    <set >
      <if test="province_id != null" >
        province_id = #{province_id,jdbcType=INTEGER},
      </if>
      <if test="city_id != null" >
        city_id = #{city_id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="islink != null" >
        islink = #{islink,jdbcType=TINYINT},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="service_id != null" >
        service_id = #{service_id,jdbcType=INTEGER},
      </if>
      <if test="service_type != null" >
        service_type = #{service_type,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        `state` = #{state,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.airmcl.air.app.entity.Banner" >
    update mdd_api_banner
    set province_id = #{province_id,jdbcType=INTEGER},
      city_id = #{city_id,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      islink = #{islink,jdbcType=TINYINT},
      url = #{url,jdbcType=VARCHAR},
      service_id = #{service_id,jdbcType=INTEGER},
      service_type = #{service_type,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      `state` = #{state,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airmcl.air.app.entity.Banner" >
    update mdd_api_banner
    set province_id = #{province_id,jdbcType=INTEGER},
      city_id = #{city_id,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      islink = #{islink,jdbcType=TINYINT},
      url = #{url,jdbcType=VARCHAR},
      service_id = #{service_id,jdbcType=INTEGER},
      service_type = #{service_type,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      `state` = #{state,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="com.airmcl.air.app.entity.Banner" >
    insert into mdd_api_banner (id, province_id, city_id, 
      title, tag, islink, 
      url, service_id, service_type, 
      sort, `state`, createtime, 
      description) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{_uuid}, #{item.province_id,jdbcType=INTEGER}, #{item.city_id,jdbcType=INTEGER}, 
        #{item.title,jdbcType=VARCHAR}, #{item.tag,jdbcType=VARCHAR}, #{item.islink,jdbcType=TINYINT}, 
        #{item.url,jdbcType=VARCHAR}, #{item.service_id,jdbcType=INTEGER}, #{item.service_type,jdbcType=VARCHAR}, 
        #{item.sort,jdbcType=INTEGER}, #{item.state,jdbcType=TINYINT}, #{item.createtime,jdbcType=INTEGER}, 
        #{item.description,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.app.entity.BannerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_banner
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  
  <update id="updateStateByIds"  parameterType="java.lang.String">

    update   mdd_api_banner  set 
    <if test="state !=null">
   	 state = #{state}
    </if>
     WHERE  id in
    <foreach item="item" index="index" collection="ids"
             open="(" separator="," close=")">
      #{item}
    </foreach>

  </update>
</mapper>