<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.app.dao.StartpageMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.app.entity.Startpage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="SMALLINT" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="starttime" property="starttime" jdbcType="INTEGER" />
    <result column="endtime" property="endtime" jdbcType="INTEGER" />
    <result column="is_url" property="isUrl" jdbcType="TINYINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, city_id, sort, state, starttime, endtime, is_url, url, createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.app.entity.StartpageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_startpage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mdd_api_startpage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mdd_api_startpage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.airmcl.air.app.entity.StartpageExample" >
    delete from mdd_api_startpage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airmcl.air.app.entity.Startpage" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_startpage (city_id, sort, state, 
      starttime, endtime, is_url, 
      url, createtime)
    values (#{cityId,jdbcType=INTEGER}, #{sort,jdbcType=SMALLINT}, #{state,jdbcType=TINYINT}, 
      #{starttime,jdbcType=INTEGER}, #{endtime,jdbcType=INTEGER}, #{isUrl,jdbcType=TINYINT}, 
      #{url,jdbcType=VARCHAR}, #{createtime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.airmcl.air.app.entity.Startpage" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_startpage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="isUrl != null" >
        is_url,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=SMALLINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=INTEGER},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=INTEGER},
      </if>
      <if test="isUrl != null" >
        #{isUrl,jdbcType=TINYINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airmcl.air.app.entity.StartpageExample" resultType="java.lang.Integer" >
    select count(*) from mdd_api_startpage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mdd_api_startpage
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null" >
        city_id = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=SMALLINT},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.starttime != null" >
        starttime = #{record.starttime,jdbcType=INTEGER},
      </if>
      <if test="record.endtime != null" >
        endtime = #{record.endtime,jdbcType=INTEGER},
      </if>
      <if test="record.isUrl != null" >
        is_url = #{record.isUrl,jdbcType=TINYINT},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mdd_api_startpage
    set id = #{record.id,jdbcType=INTEGER},
      city_id = #{record.cityId,jdbcType=INTEGER},
      sort = #{record.sort,jdbcType=SMALLINT},
      state = #{record.state,jdbcType=TINYINT},
      starttime = #{record.starttime,jdbcType=INTEGER},
      endtime = #{record.endtime,jdbcType=INTEGER},
      is_url = #{record.isUrl,jdbcType=TINYINT},
      url = #{record.url,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airmcl.air.app.entity.Startpage" >
    update mdd_api_startpage
    <set >
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=SMALLINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=INTEGER},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=INTEGER},
      </if>
      <if test="isUrl != null" >
        is_url = #{isUrl,jdbcType=TINYINT},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airmcl.air.app.entity.Startpage" >
    update mdd_api_startpage
    set city_id = #{cityId,jdbcType=INTEGER},
      sort = #{sort,jdbcType=SMALLINT},
      state = #{state,jdbcType=TINYINT},
      starttime = #{starttime,jdbcType=INTEGER},
      endtime = #{endtime,jdbcType=INTEGER},
      is_url = #{isUrl,jdbcType=TINYINT},
      url = #{url,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="com.airmcl.air.app.entity.Startpage" >
    insert into mdd_api_startpage (id, city_id, sort, state, 
      starttime, endtime, is_url, 
      url, createtime) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{_uuid}, #{item.cityId,jdbcType=INTEGER}, #{item.sort,jdbcType=SMALLINT}, #{item.state,jdbcType=TINYINT}, 
        #{item.starttime,jdbcType=INTEGER}, #{item.endtime,jdbcType=INTEGER}, #{item.isUrl,jdbcType=TINYINT}, 
        #{item.url,jdbcType=VARCHAR}, #{item.createtime,jdbcType=INTEGER})
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.app.entity.StartpageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_startpage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>


  <update id="updateStateByIds"  >

    update   mdd_api_startpage  set state=0 WHERE  id in

    <foreach item="item" index="index" collection="ids"
             open="(" separator="," close=")">
      #{item}
    </foreach>

  </update>


</mapper>