<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.ledger.dao.GoodsLedgerRuleMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.ledger.entity.GoodsLedgerRule" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="ledger_rule_id" property="ledgerRuleId" jdbcType="CHAR" />
    <result column="ledger_rule_name" property="ledgerRuleName" jdbcType="VARCHAR" />
    <result column="goods_id" property="goodsId" jdbcType="CHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ledger_rule_id, ledger_rule_name, goods_id, goods_name, create_time, update_time, 
    is_delete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.ledger.entity.GoodsLedgerRuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gd_l_goods_ledger_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from gd_l_goods_ledger_rule
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from gd_l_goods_ledger_rule
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.airmcl.air.ledger.entity.GoodsLedgerRuleExample" >
    delete from gd_l_goods_ledger_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airmcl.air.ledger.entity.GoodsLedgerRule" >
    <bind name="_uuid" value="@com.els.base.utils.uuid.UUIDGenerator@generateUUIDAndSetId(#this)"/>
    insert into gd_l_goods_ledger_rule (id, ledger_rule_id, ledger_rule_name, 
      goods_id, goods_name, create_time, 
      update_time, is_delete)
    values (#{_uuid}, #{ledgerRuleId,jdbcType=CHAR}, #{ledgerRuleName,jdbcType=VARCHAR}, 
      #{goodsId,jdbcType=CHAR}, #{goodsName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.airmcl.air.ledger.entity.GoodsLedgerRule" >
    <bind name="_uuid" value="@com.els.base.utils.uuid.UUIDGenerator@generateUUIDAndSetId(#this)"/>
    insert into gd_l_goods_ledger_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="ledgerRuleId != null" >
        ledger_rule_id,
      </if>
      <if test="ledgerRuleName != null" >
        ledger_rule_name,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{_uuid},
      <if test="ledgerRuleId != null" >
        #{ledgerRuleId,jdbcType=CHAR},
      </if>
      <if test="ledgerRuleName != null" >
        #{ledgerRuleName,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=CHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airmcl.air.ledger.entity.GoodsLedgerRuleExample" resultType="java.lang.Integer" >
    select count(*) from gd_l_goods_ledger_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gd_l_goods_ledger_rule
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.ledgerRuleId != null" >
        ledger_rule_id = #{record.ledgerRuleId,jdbcType=CHAR},
      </if>
      <if test="record.ledgerRuleName != null" >
        ledger_rule_name = #{record.ledgerRuleName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsId != null" >
        goods_id = #{record.goodsId,jdbcType=CHAR},
      </if>
      <if test="record.goodsName != null" >
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gd_l_goods_ledger_rule
    set id = #{record.id,jdbcType=CHAR},
      ledger_rule_id = #{record.ledgerRuleId,jdbcType=CHAR},
      ledger_rule_name = #{record.ledgerRuleName,jdbcType=VARCHAR},
      goods_id = #{record.goodsId,jdbcType=CHAR},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airmcl.air.ledger.entity.GoodsLedgerRule" >
    update gd_l_goods_ledger_rule
    <set >
      <if test="ledgerRuleId != null" >
        ledger_rule_id = #{ledgerRuleId,jdbcType=CHAR},
      </if>
      <if test="ledgerRuleName != null" >
        ledger_rule_name = #{ledgerRuleName,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=CHAR},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airmcl.air.ledger.entity.GoodsLedgerRule" >
    update gd_l_goods_ledger_rule
    set ledger_rule_id = #{ledgerRuleId,jdbcType=CHAR},
      ledger_rule_name = #{ledgerRuleName,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=CHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=CHAR}
  </update>
  <insert id="insertBatch" parameterType="com.airmcl.air.ledger.entity.GoodsLedgerRule" >
    insert into gd_l_goods_ledger_rule (id, ledger_rule_id, ledger_rule_name, 
      goods_id, goods_name, create_time, 
      update_time, is_delete) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.id,jdbcType=CHAR}, #{item.ledgerRuleId,jdbcType=CHAR}, #{item.ledgerRuleName,jdbcType=VARCHAR}, 
        #{item.goodsId,jdbcType=CHAR}, #{item.goodsName,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateTime,jdbcType=TIMESTAMP}, #{item.isDelete,jdbcType=TINYINT})
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.ledger.entity.GoodsLedgerRuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gd_l_goods_ledger_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>