<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.ledger.dao.LedgerRuleDetailMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.ledger.entity.LedgerRuleDetail" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="ledger_rule_id" property="ledgerRuleId" jdbcType="VARCHAR" />
    <result column="ledger_type_id" property="ledgerTypeId" jdbcType="CHAR" />
    <result column="ledger_type_name" property="ledgerTypeName" jdbcType="VARCHAR" />
    <result column="ledger_ratio" property="ledgerRatio" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ledger_rule_id, ledger_type_id, ledger_type_name, ledger_ratio, create_time, 
    update_time, is_delete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.ledger.entity.LedgerRuleDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gd_l_ledger_rule_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from gd_l_ledger_rule_detail
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from gd_l_ledger_rule_detail
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.airmcl.air.ledger.entity.LedgerRuleDetailExample" >
    delete from gd_l_ledger_rule_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airmcl.air.ledger.entity.LedgerRuleDetail" >
    <bind name="_uuid" value="@com.els.base.utils.uuid.UUIDGenerator@generateUUIDAndSetId(#this)"/>
    insert into gd_l_ledger_rule_detail (id, ledger_rule_id, ledger_type_id, 
      ledger_type_name, ledger_ratio, create_time, 
      update_time, is_delete)
    values (#{_uuid}, #{ledgerRuleId,jdbcType=VARCHAR}, #{ledgerTypeId,jdbcType=CHAR}, 
      #{ledgerTypeName,jdbcType=VARCHAR}, #{ledgerRatio,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.airmcl.air.ledger.entity.LedgerRuleDetail" >
    <bind name="_uuid" value="@com.els.base.utils.uuid.UUIDGenerator@generateUUIDAndSetId(#this)"/>
    insert into gd_l_ledger_rule_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="ledgerRuleId != null" >
        ledger_rule_id,
      </if>
      <if test="ledgerTypeId != null" >
        ledger_type_id,
      </if>
      <if test="ledgerTypeName != null" >
        ledger_type_name,
      </if>
      <if test="ledgerRatio != null" >
        ledger_ratio,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{_uuid},
      <if test="ledgerRuleId != null" >
        #{ledgerRuleId,jdbcType=VARCHAR},
      </if>
      <if test="ledgerTypeId != null" >
        #{ledgerTypeId,jdbcType=CHAR},
      </if>
      <if test="ledgerTypeName != null" >
        #{ledgerTypeName,jdbcType=VARCHAR},
      </if>
      <if test="ledgerRatio != null" >
        #{ledgerRatio,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airmcl.air.ledger.entity.LedgerRuleDetailExample" resultType="java.lang.Integer" >
    select count(*) from gd_l_ledger_rule_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gd_l_ledger_rule_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.ledgerRuleId != null" >
        ledger_rule_id = #{record.ledgerRuleId,jdbcType=VARCHAR},
      </if>
      <if test="record.ledgerTypeId != null" >
        ledger_type_id = #{record.ledgerTypeId,jdbcType=CHAR},
      </if>
      <if test="record.ledgerTypeName != null" >
        ledger_type_name = #{record.ledgerTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.ledgerRatio != null" >
        ledger_ratio = #{record.ledgerRatio,jdbcType=SMALLINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gd_l_ledger_rule_detail
    set id = #{record.id,jdbcType=CHAR},
      ledger_rule_id = #{record.ledgerRuleId,jdbcType=VARCHAR},
      ledger_type_id = #{record.ledgerTypeId,jdbcType=CHAR},
      ledger_type_name = #{record.ledgerTypeName,jdbcType=VARCHAR},
      ledger_ratio = #{record.ledgerRatio,jdbcType=SMALLINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airmcl.air.ledger.entity.LedgerRuleDetail" >
    update gd_l_ledger_rule_detail
    <set >
      <if test="ledgerRuleId != null" >
        ledger_rule_id = #{ledgerRuleId,jdbcType=VARCHAR},
      </if>
      <if test="ledgerTypeId != null" >
        ledger_type_id = #{ledgerTypeId,jdbcType=CHAR},
      </if>
      <if test="ledgerTypeName != null" >
        ledger_type_name = #{ledgerTypeName,jdbcType=VARCHAR},
      </if>
      <if test="ledgerRatio != null" >
        ledger_ratio = #{ledgerRatio,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airmcl.air.ledger.entity.LedgerRuleDetail" >
    update gd_l_ledger_rule_detail
    set ledger_rule_id = #{ledgerRuleId,jdbcType=VARCHAR},
      ledger_type_id = #{ledgerTypeId,jdbcType=CHAR},
      ledger_type_name = #{ledgerTypeName,jdbcType=VARCHAR},
      ledger_ratio = #{ledgerRatio,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=CHAR}
  </update>
  <insert id="insertBatch" parameterType="com.airmcl.air.ledger.entity.LedgerRuleDetail" >
    insert into gd_l_ledger_rule_detail (id, ledger_rule_id, ledger_type_id, 
      ledger_type_name, ledger_ratio, 
      create_time, update_time, is_delete
      ) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.id,jdbcType=CHAR}, #{item.ledgerRuleId,jdbcType=VARCHAR}, #{item.ledgerTypeId,jdbcType=CHAR}, 
        #{item.ledgerTypeName,jdbcType=VARCHAR}, #{item.ledgerRatio,jdbcType=SMALLINT}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.isDelete,jdbcType=BIT}
        )
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.ledger.entity.LedgerRuleDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gd_l_ledger_rule_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>