<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.activitys.dao.ActivitysMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.activitys.entity.Activitys" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="starttime" property="starttime" jdbcType="INTEGER" />
    <result column="endtime" property="endtime" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="execution_type" property="executionType" jdbcType="TINYINT" />
    <result column="discount" property="discount" jdbcType="SMALLINT" />
    <result column="reduce_money" property="reduceMoney" jdbcType="DECIMAL" />
    <result column="meet_money" property="meetMoney" jdbcType="DECIMAL" />
    <result column="term" property="term" jdbcType="TINYINT" />
    <result column="isrecommend" property="isrecommend" jdbcType="TINYINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="createtime" property="createtime" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.airmcl.air.activitys.entity.Activitys" extends="BaseResultMap" >
    <result column="introduction" property="introduction" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, starttime, endtime, type, execution_type, discount, reduce_money, meet_money, 
    term, isrecommend, sort, state, createtime
  </sql>
  <sql id="Blob_Column_List" >
    introduction
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.airmcl.air.activitys.entity.ActivitysExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mdd_api_activitys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.activitys.entity.ActivitysExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_activitys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mdd_api_activitys
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mdd_api_activitys
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.airmcl.air.activitys.entity.ActivitysExample" >
    delete from mdd_api_activitys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airmcl.air.activitys.entity.Activitys" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_activitys (title, starttime, endtime, 
      type, execution_type, discount, 
      reduce_money, meet_money, term, 
      isrecommend, sort, state, 
      createtime, introduction)
    values (#{title,jdbcType=VARCHAR}, #{starttime,jdbcType=INTEGER}, #{endtime,jdbcType=INTEGER}, 
      #{type,jdbcType=TINYINT}, #{executionType,jdbcType=TINYINT}, #{discount,jdbcType=SMALLINT}, 
      #{reduceMoney,jdbcType=DECIMAL}, #{meetMoney,jdbcType=DECIMAL}, #{term,jdbcType=TINYINT}, 
      #{isrecommend,jdbcType=TINYINT}, #{sort,jdbcType=INTEGER}, #{state,jdbcType=TINYINT}, 
      #{createtime,jdbcType=INTEGER}, #{introduction,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.airmcl.air.activitys.entity.Activitys" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_activitys
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        title,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="executionType != null" >
        execution_type,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="reduceMoney != null" >
        reduce_money,
      </if>
      <if test="meetMoney != null" >
        meet_money,
      </if>
      <if test="term != null" >
        term,
      </if>
      <if test="isrecommend != null" >
        isrecommend,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=INTEGER},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="executionType != null" >
        #{executionType,jdbcType=TINYINT},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=SMALLINT},
      </if>
      <if test="reduceMoney != null" >
        #{reduceMoney,jdbcType=DECIMAL},
      </if>
      <if test="meetMoney != null" >
        #{meetMoney,jdbcType=DECIMAL},
      </if>
      <if test="term != null" >
        #{term,jdbcType=TINYINT},
      </if>
      <if test="isrecommend != null" >
        #{isrecommend,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airmcl.air.activitys.entity.ActivitysExample" resultType="java.lang.Integer" >
    select count(*) from mdd_api_activitys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mdd_api_activitys
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.starttime != null" >
        starttime = #{record.starttime,jdbcType=INTEGER},
      </if>
      <if test="record.endtime != null" >
        endtime = #{record.endtime,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.executionType != null" >
        execution_type = #{record.executionType,jdbcType=TINYINT},
      </if>
      <if test="record.discount != null" >
        discount = #{record.discount,jdbcType=SMALLINT},
      </if>
      <if test="record.reduceMoney != null" >
        reduce_money = #{record.reduceMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.meetMoney != null" >
        meet_money = #{record.meetMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.term != null" >
        term = #{record.term,jdbcType=TINYINT},
      </if>
      <if test="record.isrecommend != null" >
        isrecommend = #{record.isrecommend,jdbcType=TINYINT},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=INTEGER},
      </if>
      <if test="record.introduction != null" >
        introduction = #{record.introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update mdd_api_activitys
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      starttime = #{record.starttime,jdbcType=INTEGER},
      endtime = #{record.endtime,jdbcType=INTEGER},
      type = #{record.type,jdbcType=TINYINT},
      execution_type = #{record.executionType,jdbcType=TINYINT},
      discount = #{record.discount,jdbcType=SMALLINT},
      reduce_money = #{record.reduceMoney,jdbcType=DECIMAL},
      meet_money = #{record.meetMoney,jdbcType=DECIMAL},
      term = #{record.term,jdbcType=TINYINT},
      isrecommend = #{record.isrecommend,jdbcType=TINYINT},
      sort = #{record.sort,jdbcType=INTEGER},
      state = #{record.state,jdbcType=TINYINT},
      createtime = #{record.createtime,jdbcType=INTEGER},
      introduction = #{record.introduction,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mdd_api_activitys
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      starttime = #{record.starttime,jdbcType=INTEGER},
      endtime = #{record.endtime,jdbcType=INTEGER},
      type = #{record.type,jdbcType=TINYINT},
      execution_type = #{record.executionType,jdbcType=TINYINT},
      discount = #{record.discount,jdbcType=SMALLINT},
      reduce_money = #{record.reduceMoney,jdbcType=DECIMAL},
      meet_money = #{record.meetMoney,jdbcType=DECIMAL},
      term = #{record.term,jdbcType=TINYINT},
      isrecommend = #{record.isrecommend,jdbcType=TINYINT},
      sort = #{record.sort,jdbcType=INTEGER},
      state = #{record.state,jdbcType=TINYINT},
      createtime = #{record.createtime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airmcl.air.activitys.entity.Activitys" >
    update mdd_api_activitys
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=INTEGER},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="executionType != null" >
        execution_type = #{executionType,jdbcType=TINYINT},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=SMALLINT},
      </if>
      <if test="reduceMoney != null" >
        reduce_money = #{reduceMoney,jdbcType=DECIMAL},
      </if>
      <if test="meetMoney != null" >
        meet_money = #{meetMoney,jdbcType=DECIMAL},
      </if>
      <if test="term != null" >
        term = #{term,jdbcType=TINYINT},
      </if>
      <if test="isrecommend != null" >
        isrecommend = #{isrecommend,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.airmcl.air.activitys.entity.Activitys" >
    update mdd_api_activitys
    set title = #{title,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=INTEGER},
      endtime = #{endtime,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      execution_type = #{executionType,jdbcType=TINYINT},
      discount = #{discount,jdbcType=SMALLINT},
      reduce_money = #{reduceMoney,jdbcType=DECIMAL},
      meet_money = #{meetMoney,jdbcType=DECIMAL},
      term = #{term,jdbcType=TINYINT},
      isrecommend = #{isrecommend,jdbcType=TINYINT},
      sort = #{sort,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=INTEGER},
      introduction = #{introduction,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airmcl.air.activitys.entity.Activitys" >
    update mdd_api_activitys
    set title = #{title,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=INTEGER},
      endtime = #{endtime,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      execution_type = #{executionType,jdbcType=TINYINT},
      discount = #{discount,jdbcType=SMALLINT},
      reduce_money = #{reduceMoney,jdbcType=DECIMAL},
      meet_money = #{meetMoney,jdbcType=DECIMAL},
      term = #{term,jdbcType=TINYINT},
      isrecommend = #{isrecommend,jdbcType=TINYINT},
      sort = #{sort,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="com.airmcl.air.activitys.entity.Activitys" >
    insert into mdd_api_activitys (id, title, starttime, endtime, 
      type, execution_type, discount, 
      reduce_money, meet_money, term, 
      isrecommend, sort, state, 
      createtime, introduction) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{_uuid}, #{item.title,jdbcType=VARCHAR}, #{item.starttime,jdbcType=INTEGER}, #{item.endtime,jdbcType=INTEGER}, 
        #{item.type,jdbcType=TINYINT}, #{item.executionType,jdbcType=TINYINT}, #{item.discount,jdbcType=SMALLINT}, 
        #{item.reduceMoney,jdbcType=DECIMAL}, #{item.meetMoney,jdbcType=DECIMAL}, #{item.term,jdbcType=TINYINT}, 
        #{item.isrecommend,jdbcType=TINYINT}, #{item.sort,jdbcType=INTEGER}, #{item.state,jdbcType=TINYINT}, 
        #{item.createtime,jdbcType=INTEGER}, #{item.introduction,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.activitys.entity.ActivitysExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_activitys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>