<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.activitys.dao.ext.ActivitysExtMapper" >
   <resultMap type="com.airmcl.air.activitys.entity.ActivitysCouponsVo" id="activitysCouponsVo">
       <id column="id" property="id" jdbcType="INTEGER" />
       <result column="coupon_id"  property="couponId" jdbcType="INTEGER"/> 
       <result column="coupon_title" property="couponTitle"  jdbcType="VARCHAR"/>
       <result column="activity_id"  property="activityId" jdbcType="INTEGER"/> 
   </resultMap>
   <resultMap type="com.airmcl.air.activitys.entity.ActivitysServicesVo" id="activitysServicesVo">
       <id column="id" property="id" jdbcType="INTEGER" />
       <result column="state"  property="state" jdbcType="TINYINT"/> 
       <result column="service_name" property="servceName"  jdbcType="VARCHAR"/>
       <result column="activity_id"  property="activityId" jdbcType="INTEGER"/> 
       <result column="service_id"  property="serviceId" jdbcType="INTEGER"/>
   </resultMap>
   <resultMap type="com.airmcl.air.activitys.entity.ActivitysBeautyVo" id="activitysBeautyVo">
       <id column="id" property="id" jdbcType="INTEGER" />
       <result column="state"  property="state" jdbcType="TINYINT"/> 
       <result column="beauty_name" property="beautyName"  jdbcType="VARCHAR"/>
       <result column="activity_id"  property="activityId" jdbcType="INTEGER"/> 
       <result column="bt_id"  property="beautyId" jdbcType="INTEGER"/>
   </resultMap>
   <update id="updateActivitysServicesByActivityId" parameterType="java.lang.Integer">
      update mdd_api_activitys_services set state = 0 where (activity_id = #{activityId,jdbcType=INTEGER}  and state=1)
   </update>
   <update id="updateActivitysServicesByIdBath" parameterType="com.airmcl.air.activitys.entity.ActivitysServices">
      update mdd_api_activitys_services set state = 0 where  id in 
         <foreach open="(" collection="list" item="item" index="index" separator="," close=")" >
          #{item.id,jdbcType=INTEGER}
         </foreach>
   </update>
   <update id="updateActivitysBeautyByIdBath" parameterType="com.airmcl.air.activitys.entity.ActivitysBeauty">
      update mdd_api_activitys_beauty set state = 0 where  id in 
         <foreach open="(" collection="list" item="item" index="index" separator="," close=")" >
          #{item.id,jdbcType=INTEGER}
         </foreach>
   </update>
   <delete id="deleteActivitysCouponsByIdBath" parameterType="com.airmcl.air.activitys.entity.ActivitysCoupons" >
        delete from mdd_api_activitys_coupons  where id in 
         <foreach open="(" collection="list" item="item" index="index" separator="," close=")" >
          #{item.id,jdbcType=INTEGER}
         </foreach>
   </delete>
   <delete id="deleteActivitysCouponsByActivityId" parameterType="java.lang.Integer">
      DELETE FROM mdd_api_activitys_coupons  where activity_id = #{activityId,jdbcType=INTEGER}
   </delete>
   <select id="selectActivitysCouponsVoListByActivityId" parameterType="java.lang.Integer" resultMap="activitysCouponsVo">
      SELECT id,coupon_id,activity_id,
		(select coupon_title from mdd_api_coupon where id=coupon_id) as coupon_title 
		FROM mdd_api_activitys_coupons where activity_id=#{activityId,jdbcType=INTEGER}
   </select>
   <select id="selectActivitysServicesVoListByActivityId" parameterType="java.lang.Integer" resultMap="activitysServicesVo">
     SELECT id,state,service_id,activity_id,(select service_name from mdd_api_service where id = service_id) as service_name
     FROM mdd_api_activitys_services where activity_id=#{activityId,jdbcType=INTEGER} and state=1
   </select>
   <select id="selectActivitysBeautyVoListByActivitysId" parameterType="java.lang.Integer" resultMap="activitysBeautyVo">
   	SELECT id,state,bt_id,activity_id,(select beauty_name from mdd_api_beauty where id = bt_id) as beauty_name
       FROM mdd_api_activitys_beauty where activity_id=#{activityId,jdbcType=INTEGER} and state=1
   </select>
</mapper>