<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.carefreecard.dao.CareFreeCardMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.carefreecard.entity.CareFreeCard" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="card_number" property="card_number" jdbcType="VARCHAR" />
    <result column="goods_card_id" property="goods_card_id" jdbcType="CHAR" />
    <result column="goods_card_name" property="goods_card_name" jdbcType="VARCHAR" />
    <result column="secret_key" property="secret_key" jdbcType="VARCHAR" />
    <result column="action_flag" property="action_flag" jdbcType="TINYINT" />
    <result column="store_name" property="store_name" jdbcType="VARCHAR" />
    <result column="store_id" property="store_id" jdbcType="CHAR" />
    <result column="customer_name" property="customer_name" jdbcType="VARCHAR" />
    <result column="customer_mobile_phone" property="customer_mobile_phone" jdbcType="VARCHAR" />
    <result column="activation_time" property="activation_time" jdbcType="TIMESTAMP" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="is_delete" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, card_number, goods_card_id, goods_card_name, secret_key, action_flag, store_name, 
    store_id, customer_name, customer_mobile_phone, activation_time, create_time, update_time, 
    is_delete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.carefreecard.entity.CareFreeCardExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gd_carefree_card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from gd_carefree_card
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from gd_carefree_card
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.airmcl.air.carefreecard.entity.CareFreeCardExample" >
    delete from gd_carefree_card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airmcl.air.carefreecard.entity.CareFreeCard" >
    <bind name="_uuid" value="@com.els.base.utils.uuid.UUIDGenerator@generateUUIDAndSetId(#this)"/>
    insert into gd_carefree_card (id, card_number, goods_card_id, 
      goods_card_name, secret_key, action_flag, 
      store_name, store_id, customer_name, 
      customer_mobile_phone, activation_time, 
      create_time, update_time, is_delete
      )
    values (#{_uuid}, #{card_number,jdbcType=VARCHAR}, #{goods_card_id,jdbcType=CHAR}, 
      #{goods_card_name,jdbcType=VARCHAR}, #{secret_key,jdbcType=VARCHAR}, #{action_flag,jdbcType=TINYINT}, 
      #{store_name,jdbcType=VARCHAR}, #{store_id,jdbcType=CHAR}, #{customer_name,jdbcType=VARCHAR}, 
      #{customer_mobile_phone,jdbcType=VARCHAR}, #{activation_time,jdbcType=TIMESTAMP}, 
      #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}, #{is_delete,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.airmcl.air.carefreecard.entity.CareFreeCard" >
    <bind name="_uuid" value="@com.els.base.utils.uuid.UUIDGenerator@generateUUIDAndSetId(#this)"/>
    insert into gd_carefree_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="card_number != null" >
        card_number,
      </if>
      <if test="goods_card_id != null" >
        goods_card_id,
      </if>
      <if test="goods_card_name != null" >
        goods_card_name,
      </if>
      <if test="secret_key != null" >
        secret_key,
      </if>
      <if test="action_flag != null" >
        action_flag,
      </if>
      <if test="store_name != null" >
        store_name,
      </if>
      <if test="store_id != null" >
        store_id,
      </if>
      <if test="customer_name != null" >
        customer_name,
      </if>
      <if test="customer_mobile_phone != null" >
        customer_mobile_phone,
      </if>
      <if test="activation_time != null" >
        activation_time,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="is_delete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{_uuid},
      <if test="card_number != null" >
        #{card_number,jdbcType=VARCHAR},
      </if>
      <if test="goods_card_id != null" >
        #{goods_card_id,jdbcType=CHAR},
      </if>
      <if test="goods_card_name != null" >
        #{goods_card_name,jdbcType=VARCHAR},
      </if>
      <if test="secret_key != null" >
        #{secret_key,jdbcType=VARCHAR},
      </if>
      <if test="action_flag != null" >
        #{action_flag,jdbcType=TINYINT},
      </if>
      <if test="store_name != null" >
        #{store_name,jdbcType=VARCHAR},
      </if>
      <if test="store_id != null" >
        #{store_id,jdbcType=CHAR},
      </if>
      <if test="customer_name != null" >
        #{customer_name,jdbcType=VARCHAR},
      </if>
      <if test="customer_mobile_phone != null" >
        #{customer_mobile_phone,jdbcType=VARCHAR},
      </if>
      <if test="activation_time != null" >
        #{activation_time,jdbcType=TIMESTAMP},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="is_delete != null" >
        #{is_delete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airmcl.air.carefreecard.entity.CareFreeCardExample" resultType="java.lang.Integer" >
    select count(*) from gd_carefree_card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gd_carefree_card
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.card_number != null" >
        card_number = #{record.card_number,jdbcType=VARCHAR},
      </if>
      <if test="record.goods_card_id != null" >
        goods_card_id = #{record.goods_card_id,jdbcType=CHAR},
      </if>
      <if test="record.goods_card_name != null" >
        goods_card_name = #{record.goods_card_name,jdbcType=VARCHAR},
      </if>
      <if test="record.secret_key != null" >
        secret_key = #{record.secret_key,jdbcType=VARCHAR},
      </if>
      <if test="record.action_flag != null" >
        action_flag = #{record.action_flag,jdbcType=TINYINT},
      </if>
      <if test="record.store_name != null" >
        store_name = #{record.store_name,jdbcType=VARCHAR},
      </if>
      <if test="record.store_id != null" >
        store_id = #{record.store_id,jdbcType=CHAR},
      </if>
      <if test="record.customer_name != null" >
        customer_name = #{record.customer_name,jdbcType=VARCHAR},
      </if>
      <if test="record.customer_mobile_phone != null" >
        customer_mobile_phone = #{record.customer_mobile_phone,jdbcType=VARCHAR},
      </if>
      <if test="record.activation_time != null" >
        activation_time = #{record.activation_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.create_time != null" >
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.update_time != null" >
        update_time = #{record.update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.is_delete != null" >
        is_delete = #{record.is_delete,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gd_carefree_card
    set id = #{record.id,jdbcType=CHAR},
      card_number = #{record.card_number,jdbcType=VARCHAR},
      goods_card_id = #{record.goods_card_id,jdbcType=CHAR},
      goods_card_name = #{record.goods_card_name,jdbcType=VARCHAR},
      secret_key = #{record.secret_key,jdbcType=VARCHAR},
      action_flag = #{record.action_flag,jdbcType=TINYINT},
      store_name = #{record.store_name,jdbcType=VARCHAR},
      store_id = #{record.store_id,jdbcType=CHAR},
      customer_name = #{record.customer_name,jdbcType=VARCHAR},
      customer_mobile_phone = #{record.customer_mobile_phone,jdbcType=VARCHAR},
      activation_time = #{record.activation_time,jdbcType=TIMESTAMP},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      update_time = #{record.update_time,jdbcType=TIMESTAMP},
      is_delete = #{record.is_delete,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airmcl.air.carefreecard.entity.CareFreeCard" >
    update gd_carefree_card
    <set >
      <if test="card_number != null" >
        card_number = #{card_number,jdbcType=VARCHAR},
      </if>
      <if test="goods_card_id != null" >
        goods_card_id = #{goods_card_id,jdbcType=CHAR},
      </if>
      <if test="goods_card_name != null" >
        goods_card_name = #{goods_card_name,jdbcType=VARCHAR},
      </if>
      <if test="secret_key != null" >
        secret_key = #{secret_key,jdbcType=VARCHAR},
      </if>
      <if test="action_flag != null" >
        action_flag = #{action_flag,jdbcType=TINYINT},
      </if>
      <if test="store_name != null" >
        store_name = #{store_name,jdbcType=VARCHAR},
      </if>
      <if test="store_id != null" >
        store_id = #{store_id,jdbcType=CHAR},
      </if>
      <if test="customer_name != null" >
        customer_name = #{customer_name,jdbcType=VARCHAR},
      </if>
      <if test="customer_mobile_phone != null" >
        customer_mobile_phone = #{customer_mobile_phone,jdbcType=VARCHAR},
      </if>
      <if test="activation_time != null" >
        activation_time = #{activation_time,jdbcType=TIMESTAMP},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="is_delete != null" >
        is_delete = #{is_delete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airmcl.air.carefreecard.entity.CareFreeCard" >
    update gd_carefree_card
    set card_number = #{card_number,jdbcType=VARCHAR},
      goods_card_id = #{goods_card_id,jdbcType=CHAR},
      goods_card_name = #{goods_card_name,jdbcType=VARCHAR},
      secret_key = #{secret_key,jdbcType=VARCHAR},
      action_flag = #{action_flag,jdbcType=TINYINT},
      store_name = #{store_name,jdbcType=VARCHAR},
      store_id = #{store_id,jdbcType=CHAR},
      customer_name = #{customer_name,jdbcType=VARCHAR},
      customer_mobile_phone = #{customer_mobile_phone,jdbcType=VARCHAR},
      activation_time = #{activation_time,jdbcType=TIMESTAMP},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      is_delete = #{is_delete,jdbcType=TINYINT}
    where id = #{id,jdbcType=CHAR}
  </update>
  <insert id="insertBatch" parameterType="com.airmcl.air.carefreecard.entity.CareFreeCard" >
    insert into gd_carefree_card (id, card_number, goods_card_id, 
      goods_card_name, secret_key, 
      action_flag, store_name, store_id, 
      customer_name, customer_mobile_phone, 
      activation_time, create_time, 
      update_time, is_delete) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.id,jdbcType=CHAR}, #{item.card_number,jdbcType=VARCHAR}, #{item.goods_card_id,jdbcType=CHAR}, 
        #{item.goods_card_name,jdbcType=VARCHAR}, #{item.secret_key,jdbcType=VARCHAR}, 
        #{item.action_flag,jdbcType=TINYINT}, #{item.store_name,jdbcType=VARCHAR}, #{item.store_id,jdbcType=CHAR}, 
        #{item.customer_name,jdbcType=VARCHAR}, #{item.customer_mobile_phone,jdbcType=VARCHAR}, 
        #{item.activation_time,jdbcType=TIMESTAMP}, #{item.create_time,jdbcType=TIMESTAMP}, 
        #{item.update_time,jdbcType=TIMESTAMP}, #{item.is_delete,jdbcType=TINYINT})
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.carefreecard.entity.CareFreeCardExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gd_carefree_card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>