<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.users.dao.UsersMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.users.entity.Users" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="vipcard_name" property="vipcardName" jdbcType="VARCHAR" />
    <result column="vip_start_time" property="vipStartTime" jdbcType="INTEGER" />
    <result column="vip_expire" property="vipExpire" jdbcType="INTEGER" />
    <result column="vip_day" property="vipDay" jdbcType="INTEGER" />
    <result column="mdcard_total" property="mdcardTotal" jdbcType="INTEGER" />
    <result column="service_total" property="serviceTotal" jdbcType="INTEGER" />
    <result column="package_total" property="packageTotal" jdbcType="INTEGER" />
    <result column="coupon_total" property="couponTotal" jdbcType="INTEGER" />
    <result column="use_money" property="useMoney" jdbcType="DECIMAL" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="vip_number" property="vipNumber" jdbcType="CHAR" />
    <result column="referee_mobile" property="refereeMobile" jdbcType="CHAR" />
    <result column="referee_id" property="refereeId" jdbcType="CHAR" />
    <result column="referee_name" property="refereeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, vipcard_name, vip_start_time, vip_expire, vip_day, mdcard_total, service_total, 
    package_total, coupon_total, use_money, state, createtime, vip_number, referee_mobile, 
    referee_id, referee_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.users.entity.UsersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mdd_api_users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mdd_api_users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.airmcl.air.users.entity.UsersExample" >
    delete from mdd_api_users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airmcl.air.users.entity.Users" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_users (user_id, vipcard_name, vip_start_time, 
      vip_expire, vip_day, mdcard_total, 
      service_total, package_total, coupon_total, 
      use_money, state, createtime, 
      vip_number, referee_mobile, referee_id, 
      referee_name)
    values (#{userId,jdbcType=CHAR}, #{vipcardName,jdbcType=VARCHAR}, #{vipStartTime,jdbcType=INTEGER}, 
      #{vipExpire,jdbcType=INTEGER}, #{vipDay,jdbcType=INTEGER}, #{mdcardTotal,jdbcType=INTEGER}, 
      #{serviceTotal,jdbcType=INTEGER}, #{packageTotal,jdbcType=INTEGER}, #{couponTotal,jdbcType=INTEGER}, 
      #{useMoney,jdbcType=DECIMAL}, #{state,jdbcType=TINYINT}, #{createtime,jdbcType=VARCHAR}, 
      #{vipNumber,jdbcType=CHAR}, #{refereeMobile,jdbcType=CHAR}, #{refereeId,jdbcType=CHAR}, 
      #{refereeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.airmcl.air.users.entity.Users" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="vipcardName != null" >
        vipcard_name,
      </if>
      <if test="vipStartTime != null" >
        vip_start_time,
      </if>
      <if test="vipExpire != null" >
        vip_expire,
      </if>
      <if test="vipDay != null" >
        vip_day,
      </if>
      <if test="mdcardTotal != null" >
        mdcard_total,
      </if>
      <if test="serviceTotal != null" >
        service_total,
      </if>
      <if test="packageTotal != null" >
        package_total,
      </if>
      <if test="couponTotal != null" >
        coupon_total,
      </if>
      <if test="useMoney != null" >
        use_money,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="vipNumber != null" >
        vip_number,
      </if>
      <if test="refereeMobile != null" >
        referee_mobile,
      </if>
      <if test="refereeId != null" >
        referee_id,
      </if>
      <if test="refereeName != null" >
        referee_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="vipcardName != null" >
        #{vipcardName,jdbcType=VARCHAR},
      </if>
      <if test="vipStartTime != null" >
        #{vipStartTime,jdbcType=INTEGER},
      </if>
      <if test="vipExpire != null" >
        #{vipExpire,jdbcType=INTEGER},
      </if>
      <if test="vipDay != null" >
        #{vipDay,jdbcType=INTEGER},
      </if>
      <if test="mdcardTotal != null" >
        #{mdcardTotal,jdbcType=INTEGER},
      </if>
      <if test="serviceTotal != null" >
        #{serviceTotal,jdbcType=INTEGER},
      </if>
      <if test="packageTotal != null" >
        #{packageTotal,jdbcType=INTEGER},
      </if>
      <if test="couponTotal != null" >
        #{couponTotal,jdbcType=INTEGER},
      </if>
      <if test="useMoney != null" >
        #{useMoney,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="vipNumber != null" >
        #{vipNumber,jdbcType=CHAR},
      </if>
      <if test="refereeMobile != null" >
        #{refereeMobile,jdbcType=CHAR},
      </if>
      <if test="refereeId != null" >
        #{refereeId,jdbcType=CHAR},
      </if>
      <if test="refereeName != null" >
        #{refereeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airmcl.air.users.entity.UsersExample" resultType="java.lang.Integer" >
    select count(*) from mdd_api_users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mdd_api_users
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=CHAR},
      </if>
      <if test="record.vipcardName != null" >
        vipcard_name = #{record.vipcardName,jdbcType=VARCHAR},
      </if>
      <if test="record.vipStartTime != null" >
        vip_start_time = #{record.vipStartTime,jdbcType=INTEGER},
      </if>
      <if test="record.vipExpire != null" >
        vip_expire = #{record.vipExpire,jdbcType=INTEGER},
      </if>
      <if test="record.vipDay != null" >
        vip_day = #{record.vipDay,jdbcType=INTEGER},
      </if>
      <if test="record.mdcardTotal != null" >
        mdcard_total = #{record.mdcardTotal,jdbcType=INTEGER},
      </if>
      <if test="record.serviceTotal != null" >
        service_total = #{record.serviceTotal,jdbcType=INTEGER},
      </if>
      <if test="record.packageTotal != null" >
        package_total = #{record.packageTotal,jdbcType=INTEGER},
      </if>
      <if test="record.couponTotal != null" >
        coupon_total = #{record.couponTotal,jdbcType=INTEGER},
      </if>
      <if test="record.useMoney != null" >
        use_money = #{record.useMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.vipNumber != null" >
        vip_number = #{record.vipNumber,jdbcType=CHAR},
      </if>
      <if test="record.refereeMobile != null" >
        referee_mobile = #{record.refereeMobile,jdbcType=CHAR},
      </if>
      <if test="record.refereeId != null" >
        referee_id = #{record.refereeId,jdbcType=CHAR},
      </if>
      <if test="record.refereeName != null" >
        referee_name = #{record.refereeName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mdd_api_users
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=CHAR},
      vipcard_name = #{record.vipcardName,jdbcType=VARCHAR},
      vip_start_time = #{record.vipStartTime,jdbcType=INTEGER},
      vip_expire = #{record.vipExpire,jdbcType=INTEGER},
      vip_day = #{record.vipDay,jdbcType=INTEGER},
      mdcard_total = #{record.mdcardTotal,jdbcType=INTEGER},
      service_total = #{record.serviceTotal,jdbcType=INTEGER},
      package_total = #{record.packageTotal,jdbcType=INTEGER},
      coupon_total = #{record.couponTotal,jdbcType=INTEGER},
      use_money = #{record.useMoney,jdbcType=DECIMAL},
      state = #{record.state,jdbcType=TINYINT},
      createtime = #{record.createtime,jdbcType=VARCHAR},
      vip_number = #{record.vipNumber,jdbcType=CHAR},
      referee_mobile = #{record.refereeMobile,jdbcType=CHAR},
      referee_id = #{record.refereeId,jdbcType=CHAR},
      referee_name = #{record.refereeName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airmcl.air.users.entity.Users" >
    update mdd_api_users
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="vipcardName != null" >
        vipcard_name = #{vipcardName,jdbcType=VARCHAR},
      </if>
      <if test="vipStartTime != null" >
        vip_start_time = #{vipStartTime,jdbcType=INTEGER},
      </if>
      <if test="vipExpire != null" >
        vip_expire = #{vipExpire,jdbcType=INTEGER},
      </if>
      <if test="vipDay != null" >
        vip_day = #{vipDay,jdbcType=INTEGER},
      </if>
      <if test="mdcardTotal != null" >
        mdcard_total = #{mdcardTotal,jdbcType=INTEGER},
      </if>
      <if test="serviceTotal != null" >
        service_total = #{serviceTotal,jdbcType=INTEGER},
      </if>
      <if test="packageTotal != null" >
        package_total = #{packageTotal,jdbcType=INTEGER},
      </if>
      <if test="couponTotal != null" >
        coupon_total = #{couponTotal,jdbcType=INTEGER},
      </if>
      <if test="useMoney != null" >
        use_money = #{useMoney,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="vipNumber != null" >
        vip_number = #{vipNumber,jdbcType=CHAR},
      </if>
      <if test="refereeMobile != null" >
        referee_mobile = #{refereeMobile,jdbcType=CHAR},
      </if>
      <if test="refereeId != null" >
        referee_id = #{refereeId,jdbcType=CHAR},
      </if>
      <if test="refereeName != null" >
        referee_name = #{refereeName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airmcl.air.users.entity.Users" >
    update mdd_api_users
    set user_id = #{userId,jdbcType=CHAR},
      vipcard_name = #{vipcardName,jdbcType=VARCHAR},
      vip_start_time = #{vipStartTime,jdbcType=INTEGER},
      vip_expire = #{vipExpire,jdbcType=INTEGER},
      vip_day = #{vipDay,jdbcType=INTEGER},
      mdcard_total = #{mdcardTotal,jdbcType=INTEGER},
      service_total = #{serviceTotal,jdbcType=INTEGER},
      package_total = #{packageTotal,jdbcType=INTEGER},
      coupon_total = #{couponTotal,jdbcType=INTEGER},
      use_money = #{useMoney,jdbcType=DECIMAL},
      state = #{state,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=VARCHAR},
      vip_number = #{vipNumber,jdbcType=CHAR},
      referee_mobile = #{refereeMobile,jdbcType=CHAR},
      referee_id = #{refereeId,jdbcType=CHAR},
      referee_name = #{refereeName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="com.airmcl.air.users.entity.Users" >
    insert into mdd_api_users (id, user_id, vipcard_name, vip_start_time, 
      vip_expire, vip_day, mdcard_total, 
      service_total, package_total, coupon_total, 
      use_money, state, createtime, 
      vip_number, referee_mobile, referee_id, 
      referee_name) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{_uuid}, #{item.userId,jdbcType=CHAR}, #{item.vipcardName,jdbcType=VARCHAR}, #{item.vipStartTime,jdbcType=INTEGER}, 
        #{item.vipExpire,jdbcType=INTEGER}, #{item.vipDay,jdbcType=INTEGER}, #{item.mdcardTotal,jdbcType=INTEGER}, 
        #{item.serviceTotal,jdbcType=INTEGER}, #{item.packageTotal,jdbcType=INTEGER}, #{item.couponTotal,jdbcType=INTEGER}, 
        #{item.useMoney,jdbcType=DECIMAL}, #{item.state,jdbcType=TINYINT}, #{item.createtime,jdbcType=VARCHAR}, 
        #{item.vipNumber,jdbcType=CHAR}, #{item.refereeMobile,jdbcType=CHAR}, #{item.refereeId,jdbcType=CHAR}, 
        #{item.refereeName,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.users.entity.UsersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>