<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.order.dao.LaunchLedgerMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.order.entity.LaunchLedger" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="orderId" property="orderId" jdbcType="VARCHAR" />
    <result column="orderNo" property="orderNo" jdbcType="VARCHAR" />
    <result column="userUcOpenId" property="userUcOpenId" jdbcType="VARCHAR" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="userMobile" property="userMobile" jdbcType="VARCHAR" />
    <result column="storeId" property="storeId" jdbcType="VARCHAR" />
    <result column="storeName" property="storeName" jdbcType="VARCHAR" />
    <result column="orderPayRequestNo" property="orderPayRequestNo" jdbcType="VARCHAR" />
    <result column="ledgerAmount" property="ledgerAmount" jdbcType="VARCHAR" />
    <result column="ledgerRuleId" property="ledgerRuleId" jdbcType="VARCHAR" />
    <result column="ledgerRuleName" property="ledgerRuleName" jdbcType="VARCHAR" />
    <result column="productId" property="productId" jdbcType="VARCHAR" />
    <result column="productName" property="productName" jdbcType="VARCHAR" />
    <result column="ledgerCycle" property="ledgerCycle" jdbcType="INTEGER" />
    <result column="applicationNo" property="applicationNo" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, orderId, orderNo, userUcOpenId, userName, userMobile, storeId, storeName, orderPayRequestNo, 
    ledgerAmount, ledgerRuleId, ledgerRuleName, productId, productName, ledgerCycle, 
    applicationNo, `state`
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.order.entity.LaunchLedgerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gd_launch_ledger
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from gd_launch_ledger
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from gd_launch_ledger
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.airmcl.air.order.entity.LaunchLedgerExample" >
    delete from gd_launch_ledger
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airmcl.air.order.entity.LaunchLedger" >
    <bind name="_uuid" value="@com.els.base.utils.uuid.UUIDGenerator@generateUUIDAndSetId(#this)"/>
    insert into gd_launch_ledger (id, orderId, orderNo, userUcOpenId, 
      userName, userMobile, storeId, 
      storeName, orderPayRequestNo, ledgerAmount, 
      ledgerRuleId, ledgerRuleName, productId, 
      productName, ledgerCycle, applicationNo, 
      `state`)
    values (#{_uuid}, #{orderId,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, #{userUcOpenId,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userMobile,jdbcType=VARCHAR}, #{storeId,jdbcType=VARCHAR}, 
      #{storeName,jdbcType=VARCHAR}, #{orderPayRequestNo,jdbcType=VARCHAR}, #{ledgerAmount,jdbcType=VARCHAR}, 
      #{ledgerRuleId,jdbcType=VARCHAR}, #{ledgerRuleName,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{ledgerCycle,jdbcType=INTEGER}, #{applicationNo,jdbcType=VARCHAR}, 
      #{state,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.airmcl.air.order.entity.LaunchLedger" >
    <bind name="_uuid" value="@com.els.base.utils.uuid.UUIDGenerator@generateUUIDAndSetId(#this)"/>
    insert into gd_launch_ledger
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="orderId != null" >
        orderId,
      </if>
      <if test="orderNo != null" >
        orderNo,
      </if>
      <if test="userUcOpenId != null" >
        userUcOpenId,
      </if>
      <if test="userName != null" >
        userName,
      </if>
      <if test="userMobile != null" >
        userMobile,
      </if>
      <if test="storeId != null" >
        storeId,
      </if>
      <if test="storeName != null" >
        storeName,
      </if>
      <if test="orderPayRequestNo != null" >
        orderPayRequestNo,
      </if>
      <if test="ledgerAmount != null" >
        ledgerAmount,
      </if>
      <if test="ledgerRuleId != null" >
        ledgerRuleId,
      </if>
      <if test="ledgerRuleName != null" >
        ledgerRuleName,
      </if>
      <if test="productId != null" >
        productId,
      </if>
      <if test="productName != null" >
        productName,
      </if>
      <if test="ledgerCycle != null" >
        ledgerCycle,
      </if>
      <if test="applicationNo != null" >
        applicationNo,
      </if>
      <if test="state != null" >
        `state`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{_uuid},
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="userUcOpenId != null" >
        #{userUcOpenId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="orderPayRequestNo != null" >
        #{orderPayRequestNo,jdbcType=VARCHAR},
      </if>
      <if test="ledgerAmount != null" >
        #{ledgerAmount,jdbcType=VARCHAR},
      </if>
      <if test="ledgerRuleId != null" >
        #{ledgerRuleId,jdbcType=VARCHAR},
      </if>
      <if test="ledgerRuleName != null" >
        #{ledgerRuleName,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="ledgerCycle != null" >
        #{ledgerCycle,jdbcType=INTEGER},
      </if>
      <if test="applicationNo != null" >
        #{applicationNo,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airmcl.air.order.entity.LaunchLedgerExample" resultType="java.lang.Integer" >
    select count(*) from gd_launch_ledger
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gd_launch_ledger
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        orderId = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null" >
        orderNo = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.userUcOpenId != null" >
        userUcOpenId = #{record.userUcOpenId,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        userName = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userMobile != null" >
        userMobile = #{record.userMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.storeId != null" >
        storeId = #{record.storeId,jdbcType=VARCHAR},
      </if>
      <if test="record.storeName != null" >
        storeName = #{record.storeName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderPayRequestNo != null" >
        orderPayRequestNo = #{record.orderPayRequestNo,jdbcType=VARCHAR},
      </if>
      <if test="record.ledgerAmount != null" >
        ledgerAmount = #{record.ledgerAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.ledgerRuleId != null" >
        ledgerRuleId = #{record.ledgerRuleId,jdbcType=VARCHAR},
      </if>
      <if test="record.ledgerRuleName != null" >
        ledgerRuleName = #{record.ledgerRuleName,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null" >
        productId = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.productName != null" >
        productName = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.ledgerCycle != null" >
        ledgerCycle = #{record.ledgerCycle,jdbcType=INTEGER},
      </if>
      <if test="record.applicationNo != null" >
        applicationNo = #{record.applicationNo,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        `state` = #{record.state,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gd_launch_ledger
    set id = #{record.id,jdbcType=VARCHAR},
      orderId = #{record.orderId,jdbcType=VARCHAR},
      orderNo = #{record.orderNo,jdbcType=VARCHAR},
      userUcOpenId = #{record.userUcOpenId,jdbcType=VARCHAR},
      userName = #{record.userName,jdbcType=VARCHAR},
      userMobile = #{record.userMobile,jdbcType=VARCHAR},
      storeId = #{record.storeId,jdbcType=VARCHAR},
      storeName = #{record.storeName,jdbcType=VARCHAR},
      orderPayRequestNo = #{record.orderPayRequestNo,jdbcType=VARCHAR},
      ledgerAmount = #{record.ledgerAmount,jdbcType=VARCHAR},
      ledgerRuleId = #{record.ledgerRuleId,jdbcType=VARCHAR},
      ledgerRuleName = #{record.ledgerRuleName,jdbcType=VARCHAR},
      productId = #{record.productId,jdbcType=VARCHAR},
      productName = #{record.productName,jdbcType=VARCHAR},
      ledgerCycle = #{record.ledgerCycle,jdbcType=INTEGER},
      applicationNo = #{record.applicationNo,jdbcType=VARCHAR},
      `state` = #{record.state,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airmcl.air.order.entity.LaunchLedger" >
    update gd_launch_ledger
    <set >
      <if test="orderId != null" >
        orderId = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        orderNo = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="userUcOpenId != null" >
        userUcOpenId = #{userUcOpenId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        userName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        userMobile = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        storeId = #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null" >
        storeName = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="orderPayRequestNo != null" >
        orderPayRequestNo = #{orderPayRequestNo,jdbcType=VARCHAR},
      </if>
      <if test="ledgerAmount != null" >
        ledgerAmount = #{ledgerAmount,jdbcType=VARCHAR},
      </if>
      <if test="ledgerRuleId != null" >
        ledgerRuleId = #{ledgerRuleId,jdbcType=VARCHAR},
      </if>
      <if test="ledgerRuleName != null" >
        ledgerRuleName = #{ledgerRuleName,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        productId = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        productName = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="ledgerCycle != null" >
        ledgerCycle = #{ledgerCycle,jdbcType=INTEGER},
      </if>
      <if test="applicationNo != null" >
        applicationNo = #{applicationNo,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        `state` = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airmcl.air.order.entity.LaunchLedger" >
    update gd_launch_ledger
    set orderId = #{orderId,jdbcType=VARCHAR},
      orderNo = #{orderNo,jdbcType=VARCHAR},
      userUcOpenId = #{userUcOpenId,jdbcType=VARCHAR},
      userName = #{userName,jdbcType=VARCHAR},
      userMobile = #{userMobile,jdbcType=VARCHAR},
      storeId = #{storeId,jdbcType=VARCHAR},
      storeName = #{storeName,jdbcType=VARCHAR},
      orderPayRequestNo = #{orderPayRequestNo,jdbcType=VARCHAR},
      ledgerAmount = #{ledgerAmount,jdbcType=VARCHAR},
      ledgerRuleId = #{ledgerRuleId,jdbcType=VARCHAR},
      ledgerRuleName = #{ledgerRuleName,jdbcType=VARCHAR},
      productId = #{productId,jdbcType=VARCHAR},
      productName = #{productName,jdbcType=VARCHAR},
      ledgerCycle = #{ledgerCycle,jdbcType=INTEGER},
      applicationNo = #{applicationNo,jdbcType=VARCHAR},
      `state` = #{state,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <insert id="insertBatch" parameterType="com.airmcl.air.order.entity.LaunchLedger" >
    insert into gd_launch_ledger (id, orderId, orderNo, 
      userUcOpenId, userName, userMobile, 
      storeId, storeName, orderPayRequestNo, 
      ledgerAmount, ledgerRuleId, ledgerRuleName, 
      productId, productName, ledgerCycle, 
      applicationNo, `state`) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.id,jdbcType=VARCHAR}, #{item.orderId,jdbcType=VARCHAR}, #{item.orderNo,jdbcType=VARCHAR}, 
        #{item.userUcOpenId,jdbcType=VARCHAR}, #{item.userName,jdbcType=VARCHAR}, #{item.userMobile,jdbcType=VARCHAR}, 
        #{item.storeId,jdbcType=VARCHAR}, #{item.storeName,jdbcType=VARCHAR}, #{item.orderPayRequestNo,jdbcType=VARCHAR}, 
        #{item.ledgerAmount,jdbcType=VARCHAR}, #{item.ledgerRuleId,jdbcType=VARCHAR}, #{item.ledgerRuleName,jdbcType=VARCHAR}, 
        #{item.productId,jdbcType=VARCHAR}, #{item.productName,jdbcType=VARCHAR}, #{item.ledgerCycle,jdbcType=INTEGER}, 
        #{item.applicationNo,jdbcType=VARCHAR}, #{item.state,jdbcType=TINYINT})
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.order.entity.LaunchLedgerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gd_launch_ledger
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>