<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.beauty.dao.BeautyMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.beauty.entity.Beauty" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="beauty_cover" property="beautyCover" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="beauty_name" property="beautyName" jdbcType="VARCHAR" />
    <result column="beauty_name_phonetic" property="beautyNamePhonetic" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="industry_type" property="industryType" jdbcType="TINYINT" />
    <result column="province" property="province" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="INTEGER" />
    <result column="district" property="district" jdbcType="INTEGER" />
    <result column="street" property="street" jdbcType="INTEGER" />
    <result column="service_total" property="serviceTotal" jdbcType="INTEGER" />
    <result column="comment_total" property="commentTotal" jdbcType="INTEGER" />
    <result column="professional_score" property="professionalScore" jdbcType="INTEGER" />
    <result column="punctuality_score" property="punctualityScore" jdbcType="INTEGER" />
    <result column="communicate_score" property="communicateScore" jdbcType="INTEGER" />
    <result column="store_score" property="storeScore" jdbcType="SMALLINT" />
    <result column="service_time" property="serviceTime" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="SMALLINT" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, beauty_cover, mobile, beauty_name, beauty_name_phonetic, type, industry_type, 
    province, city, district, street, service_total, comment_total, professional_score, 
    punctuality_score, communicate_score, store_score, service_time, longitude, latitude, 
    sort, state, createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.beauty.entity.BeautyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_beauty
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mdd_api_beauty
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mdd_api_beauty
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.airmcl.air.beauty.entity.BeautyExample" >
    delete from mdd_api_beauty
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airmcl.air.beauty.entity.Beauty" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_beauty (beauty_cover, mobile, beauty_name, 
      beauty_name_phonetic, type, industry_type, 
      province, city, district, 
      street, service_total, comment_total, 
      professional_score, punctuality_score, communicate_score, 
      store_score, service_time, longitude, 
      latitude, sort, state, 
      createtime)
    values (#{beautyCover,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{beautyName,jdbcType=VARCHAR}, 
      #{beautyNamePhonetic,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{industryType,jdbcType=TINYINT}, 
      #{province,jdbcType=INTEGER}, #{city,jdbcType=INTEGER}, #{district,jdbcType=INTEGER}, 
      #{street,jdbcType=INTEGER}, #{serviceTotal,jdbcType=INTEGER}, #{commentTotal,jdbcType=INTEGER}, 
      #{professionalScore,jdbcType=INTEGER}, #{punctualityScore,jdbcType=INTEGER}, #{communicateScore,jdbcType=INTEGER}, 
      #{storeScore,jdbcType=SMALLINT}, #{serviceTime,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR}, #{sort,jdbcType=SMALLINT}, #{state,jdbcType=TINYINT}, 
      #{createtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.airmcl.air.beauty.entity.Beauty" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_beauty
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="beautyCover != null" >
        beauty_cover,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="beautyName != null" >
        beauty_name,
      </if>
      <if test="beautyNamePhonetic != null" >
        beauty_name_phonetic,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="industryType != null" >
        industry_type,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="street != null" >
        street,
      </if>
      <if test="serviceTotal != null" >
        service_total,
      </if>
      <if test="commentTotal != null" >
        comment_total,
      </if>
      <if test="professionalScore != null" >
        professional_score,
      </if>
      <if test="punctualityScore != null" >
        punctuality_score,
      </if>
      <if test="communicateScore != null" >
        communicate_score,
      </if>
      <if test="storeScore != null" >
        store_score,
      </if>
      <if test="serviceTime != null" >
        service_time,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="beautyCover != null" >
        #{beautyCover,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="beautyName != null" >
        #{beautyName,jdbcType=VARCHAR},
      </if>
      <if test="beautyNamePhonetic != null" >
        #{beautyNamePhonetic,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="industryType != null" >
        #{industryType,jdbcType=TINYINT},
      </if>
      <if test="province != null" >
        #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=INTEGER},
      </if>
      <if test="district != null" >
        #{district,jdbcType=INTEGER},
      </if>
      <if test="street != null" >
        #{street,jdbcType=INTEGER},
      </if>
      <if test="serviceTotal != null" >
        #{serviceTotal,jdbcType=INTEGER},
      </if>
      <if test="commentTotal != null" >
        #{commentTotal,jdbcType=INTEGER},
      </if>
      <if test="professionalScore != null" >
        #{professionalScore,jdbcType=INTEGER},
      </if>
      <if test="punctualityScore != null" >
        #{punctualityScore,jdbcType=INTEGER},
      </if>
      <if test="communicateScore != null" >
        #{communicateScore,jdbcType=INTEGER},
      </if>
      <if test="storeScore != null" >
        #{storeScore,jdbcType=SMALLINT},
      </if>
      <if test="serviceTime != null" >
        #{serviceTime,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=SMALLINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airmcl.air.beauty.entity.BeautyExample" resultType="java.lang.Integer" >
    select count(*) from mdd_api_beauty
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mdd_api_beauty
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.beautyCover != null" >
        beauty_cover = #{record.beautyCover,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.beautyName != null" >
        beauty_name = #{record.beautyName,jdbcType=VARCHAR},
      </if>
      <if test="record.beautyNamePhonetic != null" >
        beauty_name_phonetic = #{record.beautyNamePhonetic,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.industryType != null" >
        industry_type = #{record.industryType,jdbcType=TINYINT},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=INTEGER},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=INTEGER},
      </if>
      <if test="record.district != null" >
        district = #{record.district,jdbcType=INTEGER},
      </if>
      <if test="record.street != null" >
        street = #{record.street,jdbcType=INTEGER},
      </if>
      <if test="record.serviceTotal != null" >
        service_total = #{record.serviceTotal,jdbcType=INTEGER},
      </if>
      <if test="record.commentTotal != null" >
        comment_total = #{record.commentTotal,jdbcType=INTEGER},
      </if>
      <if test="record.professionalScore != null" >
        professional_score = #{record.professionalScore,jdbcType=INTEGER},
      </if>
      <if test="record.punctualityScore != null" >
        punctuality_score = #{record.punctualityScore,jdbcType=INTEGER},
      </if>
      <if test="record.communicateScore != null" >
        communicate_score = #{record.communicateScore,jdbcType=INTEGER},
      </if>
      <if test="record.storeScore != null" >
        store_score = #{record.storeScore,jdbcType=SMALLINT},
      </if>
      <if test="record.serviceTime != null" >
        service_time = #{record.serviceTime,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=VARCHAR},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=SMALLINT},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mdd_api_beauty
    set id = #{record.id,jdbcType=INTEGER},
      beauty_cover = #{record.beautyCover,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      beauty_name = #{record.beautyName,jdbcType=VARCHAR},
      beauty_name_phonetic = #{record.beautyNamePhonetic,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=TINYINT},
      industry_type = #{record.industryType,jdbcType=TINYINT},
      province = #{record.province,jdbcType=INTEGER},
      city = #{record.city,jdbcType=INTEGER},
      district = #{record.district,jdbcType=INTEGER},
      street = #{record.street,jdbcType=INTEGER},
      service_total = #{record.serviceTotal,jdbcType=INTEGER},
      comment_total = #{record.commentTotal,jdbcType=INTEGER},
      professional_score = #{record.professionalScore,jdbcType=INTEGER},
      punctuality_score = #{record.punctualityScore,jdbcType=INTEGER},
      communicate_score = #{record.communicateScore,jdbcType=INTEGER},
      store_score = #{record.storeScore,jdbcType=SMALLINT},
      service_time = #{record.serviceTime,jdbcType=VARCHAR},
      longitude = #{record.longitude,jdbcType=VARCHAR},
      latitude = #{record.latitude,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=SMALLINT},
      state = #{record.state,jdbcType=TINYINT},
      createtime = #{record.createtime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airmcl.air.beauty.entity.Beauty" >
    update mdd_api_beauty
    <set >
      <if test="beautyCover != null" >
        beauty_cover = #{beautyCover,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="beautyName != null" >
        beauty_name = #{beautyName,jdbcType=VARCHAR},
      </if>
      <if test="beautyNamePhonetic != null" >
        beauty_name_phonetic = #{beautyNamePhonetic,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="industryType != null" >
        industry_type = #{industryType,jdbcType=TINYINT},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=INTEGER},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=INTEGER},
      </if>
      <if test="street != null" >
        street = #{street,jdbcType=INTEGER},
      </if>
      <if test="serviceTotal != null" >
        service_total = #{serviceTotal,jdbcType=INTEGER},
      </if>
      <if test="commentTotal != null" >
        comment_total = #{commentTotal,jdbcType=INTEGER},
      </if>
      <if test="professionalScore != null" >
        professional_score = #{professionalScore,jdbcType=INTEGER},
      </if>
      <if test="punctualityScore != null" >
        punctuality_score = #{punctualityScore,jdbcType=INTEGER},
      </if>
      <if test="communicateScore != null" >
        communicate_score = #{communicateScore,jdbcType=INTEGER},
      </if>
      <if test="storeScore != null" >
        store_score = #{storeScore,jdbcType=SMALLINT},
      </if>
      <if test="serviceTime != null" >
        service_time = #{serviceTime,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=SMALLINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airmcl.air.beauty.entity.Beauty" >
    update mdd_api_beauty
    set beauty_cover = #{beautyCover,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      beauty_name = #{beautyName,jdbcType=VARCHAR},
      beauty_name_phonetic = #{beautyNamePhonetic,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      industry_type = #{industryType,jdbcType=TINYINT},
      province = #{province,jdbcType=INTEGER},
      city = #{city,jdbcType=INTEGER},
      district = #{district,jdbcType=INTEGER},
      street = #{street,jdbcType=INTEGER},
      service_total = #{serviceTotal,jdbcType=INTEGER},
      comment_total = #{commentTotal,jdbcType=INTEGER},
      professional_score = #{professionalScore,jdbcType=INTEGER},
      punctuality_score = #{punctualityScore,jdbcType=INTEGER},
      communicate_score = #{communicateScore,jdbcType=INTEGER},
      store_score = #{storeScore,jdbcType=SMALLINT},
      service_time = #{serviceTime,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=SMALLINT},
      state = #{state,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="com.airmcl.air.beauty.entity.Beauty" >
    insert into mdd_api_beauty (id, beauty_cover, mobile, 
      beauty_name, beauty_name_phonetic, 
      type, industry_type, province, 
      city, district, street, 
      service_total, comment_total, professional_score, 
      punctuality_score, communicate_score, 
      store_score, service_time, longitude, 
      latitude, sort, state, 
      createtime) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{_uuid}, #{item.beautyCover,jdbcType=VARCHAR}, #{item.mobile,jdbcType=VARCHAR}, 
        #{item.beautyName,jdbcType=VARCHAR}, #{item.beautyNamePhonetic,jdbcType=VARCHAR}, 
        #{item.type,jdbcType=TINYINT}, #{item.industryType,jdbcType=TINYINT}, #{item.province,jdbcType=INTEGER}, 
        #{item.city,jdbcType=INTEGER}, #{item.district,jdbcType=INTEGER}, #{item.street,jdbcType=INTEGER}, 
        #{item.serviceTotal,jdbcType=INTEGER}, #{item.commentTotal,jdbcType=INTEGER}, #{item.professionalScore,jdbcType=INTEGER}, 
        #{item.punctualityScore,jdbcType=INTEGER}, #{item.communicateScore,jdbcType=INTEGER}, 
        #{item.storeScore,jdbcType=SMALLINT}, #{item.serviceTime,jdbcType=VARCHAR}, #{item.longitude,jdbcType=VARCHAR}, 
        #{item.latitude,jdbcType=VARCHAR}, #{item.sort,jdbcType=SMALLINT}, #{item.state,jdbcType=TINYINT}, 
        #{item.createtime,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.beauty.entity.BeautyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_beauty
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>