<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.goods.dao.GoodsAutoShelveMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.goods.entity.GoodsAutoShelve" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="uppertime" property="uppertime" jdbcType="INTEGER" />
    <result column="lowertime" property="lowertime" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="updatetime" property="updatetime" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, goods_id, uppertime, lowertime, state, admin_id, updatetime, createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.goods.entity.GoodsAutoShelveExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_goods_auto_shelve
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mdd_api_goods_auto_shelve
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mdd_api_goods_auto_shelve
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.airmcl.air.goods.entity.GoodsAutoShelveExample" >
    delete from mdd_api_goods_auto_shelve
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airmcl.air.goods.entity.GoodsAutoShelve" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_goods_auto_shelve (goods_id, uppertime, lowertime, 
      state, admin_id, updatetime, 
      createtime)
    values (#{goodsId,jdbcType=INTEGER}, #{uppertime,jdbcType=INTEGER}, #{lowertime,jdbcType=INTEGER}, 
      #{state,jdbcType=TINYINT}, #{adminId,jdbcType=INTEGER}, #{updatetime,jdbcType=INTEGER}, 
      #{createtime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.airmcl.air.goods.entity.GoodsAutoShelve" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_goods_auto_shelve
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="uppertime != null" >
        uppertime,
      </if>
      <if test="lowertime != null" >
        lowertime,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="uppertime != null" >
        #{uppertime,jdbcType=INTEGER},
      </if>
      <if test="lowertime != null" >
        #{lowertime,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airmcl.air.goods.entity.GoodsAutoShelveExample" resultType="java.lang.Integer" >
    select count(*) from mdd_api_goods_auto_shelve
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mdd_api_goods_auto_shelve
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null" >
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.uppertime != null" >
        uppertime = #{record.uppertime,jdbcType=INTEGER},
      </if>
      <if test="record.lowertime != null" >
        lowertime = #{record.lowertime,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.adminId != null" >
        admin_id = #{record.adminId,jdbcType=INTEGER},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mdd_api_goods_auto_shelve
    set id = #{record.id,jdbcType=INTEGER},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      uppertime = #{record.uppertime,jdbcType=INTEGER},
      lowertime = #{record.lowertime,jdbcType=INTEGER},
      state = #{record.state,jdbcType=TINYINT},
      admin_id = #{record.adminId,jdbcType=INTEGER},
      updatetime = #{record.updatetime,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airmcl.air.goods.entity.GoodsAutoShelve" >
    update mdd_api_goods_auto_shelve
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="uppertime != null" >
        uppertime = #{uppertime,jdbcType=INTEGER},
      </if>
      <if test="lowertime != null" >
        lowertime = #{lowertime,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airmcl.air.goods.entity.GoodsAutoShelve" >
    update mdd_api_goods_auto_shelve
    set goods_id = #{goodsId,jdbcType=INTEGER},
      uppertime = #{uppertime,jdbcType=INTEGER},
      lowertime = #{lowertime,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT},
      admin_id = #{adminId,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="com.airmcl.air.goods.entity.GoodsAutoShelve" >
    insert into mdd_api_goods_auto_shelve (id, goods_id, uppertime, 
      lowertime, state, admin_id, 
      updatetime, createtime) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{_uuid}, #{item.goodsId,jdbcType=INTEGER}, #{item.uppertime,jdbcType=INTEGER}, 
        #{item.lowertime,jdbcType=INTEGER}, #{item.state,jdbcType=TINYINT}, #{item.adminId,jdbcType=INTEGER}, 
        #{item.updatetime,jdbcType=INTEGER}, #{item.createtime,jdbcType=INTEGER})
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.goods.entity.GoodsAutoShelveExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_goods_auto_shelve
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>