<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.goods.dao.ext.GoodsAutoShelveExtMapper" >
  <select id="selectGoodsAutoShelveByGoodsId" resultMap="com.airmcl.air.goods.dao.GoodsAutoShelveMapper.BaseResultMap" parameterType="java.lang.Integer">
     select * from mdd_api_goods_auto_shelve as t where t.goods_id=#{goodsId,jdbcType=INTEGER}
  </select>
</mapper>