<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.goods.dao.ext.GoodsRelationsExtMapper" >
  <select id="selectGoodsRelationsByGoodsId" parameterType="java.lang.Integer" resultMap="com.airmcl.air.goods.dao.GoodsRelationsMapper.BaseResultMap">
     select * from mdd_api_goods_relations where goods_id=#{goodsId,jdbcType=INTEGER} and state=1
  </select>
  <delete id="deleteGoodsRelationsByGoodsId" parameterType="java.lang.Integer">
       delete from mdd_api_goods_relations where goods_id=#{goodsId,jdbcType=INTEGER} 
  </delete>
  </mapper>