<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.beautician.dao.BeauticianDataMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.beautician.entity.BeauticianData" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bt_id" property="btId" jdbcType="INTEGER" />
    <result column="beauty_id" property="beautyId" jdbcType="INTEGER" />
    <result column="datetime" property="datetime" jdbcType="INTEGER" />
    <result column="stream" property="stream" jdbcType="DECIMAL" />
    <result column="income" property="income" jdbcType="DECIMAL" />
    <result column="serviceUser" property="serviceuser" jdbcType="INTEGER" />
    <result column="assignUser" property="assignuser" jdbcType="INTEGER" />
    <result column="contentService" property="contentservice" jdbcType="INTEGER" />
    <result column="allOrder" property="allorder" jdbcType="INTEGER" />
    <result column="finishOrder" property="finishorder" jdbcType="INTEGER" />
    <result column="pendOrder" property="pendorder" jdbcType="INTEGER" />
    <result column="alipay" property="alipay" jdbcType="VARCHAR" />
    <result column="wxpay" property="wxpay" jdbcType="VARCHAR" />
    <result column="walletpay" property="walletpay" jdbcType="VARCHAR" />
    <result column="packagepay" property="packagepay" jdbcType="VARCHAR" />
    <result column="allComment" property="allcomment" jdbcType="INTEGER" />
    <result column="goodComment" property="goodcomment" jdbcType="INTEGER" />
    <result column="mediumComment" property="mediumcomment" jdbcType="INTEGER" />
    <result column="badComment" property="badcomment" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="INTEGER" />
    <result column="couponpay" property="couponpay" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, bt_id, beauty_id, datetime, stream, income, serviceUser, assignUser, contentService, 
    allOrder, finishOrder, pendOrder, alipay, wxpay, walletpay, packagepay, allComment, 
    goodComment, mediumComment, badComment, createtime, couponpay
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.beautician.entity.BeauticianDataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_beautician_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mdd_api_beautician_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mdd_api_beautician_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.airmcl.air.beautician.entity.BeauticianDataExample" >
    delete from mdd_api_beautician_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airmcl.air.beautician.entity.BeauticianData" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_beautician_data (bt_id, beauty_id, datetime, 
      stream, income, serviceUser, 
      assignUser, contentService, allOrder, 
      finishOrder, pendOrder, alipay, 
      wxpay, walletpay, packagepay, 
      allComment, goodComment, mediumComment, 
      badComment, createtime, couponpay
      )
    values (#{btId,jdbcType=INTEGER}, #{beautyId,jdbcType=INTEGER}, #{datetime,jdbcType=INTEGER}, 
      #{stream,jdbcType=DECIMAL}, #{income,jdbcType=DECIMAL}, #{serviceuser,jdbcType=INTEGER}, 
      #{assignuser,jdbcType=INTEGER}, #{contentservice,jdbcType=INTEGER}, #{allorder,jdbcType=INTEGER}, 
      #{finishorder,jdbcType=INTEGER}, #{pendorder,jdbcType=INTEGER}, #{alipay,jdbcType=VARCHAR}, 
      #{wxpay,jdbcType=VARCHAR}, #{walletpay,jdbcType=VARCHAR}, #{packagepay,jdbcType=VARCHAR}, 
      #{allcomment,jdbcType=INTEGER}, #{goodcomment,jdbcType=INTEGER}, #{mediumcomment,jdbcType=INTEGER}, 
      #{badcomment,jdbcType=INTEGER}, #{createtime,jdbcType=INTEGER}, #{couponpay,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.airmcl.air.beautician.entity.BeauticianData" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_beautician_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="btId != null" >
        bt_id,
      </if>
      <if test="beautyId != null" >
        beauty_id,
      </if>
      <if test="datetime != null" >
        datetime,
      </if>
      <if test="stream != null" >
        stream,
      </if>
      <if test="income != null" >
        income,
      </if>
      <if test="serviceuser != null" >
        serviceUser,
      </if>
      <if test="assignuser != null" >
        assignUser,
      </if>
      <if test="contentservice != null" >
        contentService,
      </if>
      <if test="allorder != null" >
        allOrder,
      </if>
      <if test="finishorder != null" >
        finishOrder,
      </if>
      <if test="pendorder != null" >
        pendOrder,
      </if>
      <if test="alipay != null" >
        alipay,
      </if>
      <if test="wxpay != null" >
        wxpay,
      </if>
      <if test="walletpay != null" >
        walletpay,
      </if>
      <if test="packagepay != null" >
        packagepay,
      </if>
      <if test="allcomment != null" >
        allComment,
      </if>
      <if test="goodcomment != null" >
        goodComment,
      </if>
      <if test="mediumcomment != null" >
        mediumComment,
      </if>
      <if test="badcomment != null" >
        badComment,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="couponpay != null" >
        couponpay,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="btId != null" >
        #{btId,jdbcType=INTEGER},
      </if>
      <if test="beautyId != null" >
        #{beautyId,jdbcType=INTEGER},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=INTEGER},
      </if>
      <if test="stream != null" >
        #{stream,jdbcType=DECIMAL},
      </if>
      <if test="income != null" >
        #{income,jdbcType=DECIMAL},
      </if>
      <if test="serviceuser != null" >
        #{serviceuser,jdbcType=INTEGER},
      </if>
      <if test="assignuser != null" >
        #{assignuser,jdbcType=INTEGER},
      </if>
      <if test="contentservice != null" >
        #{contentservice,jdbcType=INTEGER},
      </if>
      <if test="allorder != null" >
        #{allorder,jdbcType=INTEGER},
      </if>
      <if test="finishorder != null" >
        #{finishorder,jdbcType=INTEGER},
      </if>
      <if test="pendorder != null" >
        #{pendorder,jdbcType=INTEGER},
      </if>
      <if test="alipay != null" >
        #{alipay,jdbcType=VARCHAR},
      </if>
      <if test="wxpay != null" >
        #{wxpay,jdbcType=VARCHAR},
      </if>
      <if test="walletpay != null" >
        #{walletpay,jdbcType=VARCHAR},
      </if>
      <if test="packagepay != null" >
        #{packagepay,jdbcType=VARCHAR},
      </if>
      <if test="allcomment != null" >
        #{allcomment,jdbcType=INTEGER},
      </if>
      <if test="goodcomment != null" >
        #{goodcomment,jdbcType=INTEGER},
      </if>
      <if test="mediumcomment != null" >
        #{mediumcomment,jdbcType=INTEGER},
      </if>
      <if test="badcomment != null" >
        #{badcomment,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=INTEGER},
      </if>
      <if test="couponpay != null" >
        #{couponpay,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airmcl.air.beautician.entity.BeauticianDataExample" resultType="java.lang.Integer" >
    select count(*) from mdd_api_beautician_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mdd_api_beautician_data
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.btId != null" >
        bt_id = #{record.btId,jdbcType=INTEGER},
      </if>
      <if test="record.beautyId != null" >
        beauty_id = #{record.beautyId,jdbcType=INTEGER},
      </if>
      <if test="record.datetime != null" >
        datetime = #{record.datetime,jdbcType=INTEGER},
      </if>
      <if test="record.stream != null" >
        stream = #{record.stream,jdbcType=DECIMAL},
      </if>
      <if test="record.income != null" >
        income = #{record.income,jdbcType=DECIMAL},
      </if>
      <if test="record.serviceuser != null" >
        serviceUser = #{record.serviceuser,jdbcType=INTEGER},
      </if>
      <if test="record.assignuser != null" >
        assignUser = #{record.assignuser,jdbcType=INTEGER},
      </if>
      <if test="record.contentservice != null" >
        contentService = #{record.contentservice,jdbcType=INTEGER},
      </if>
      <if test="record.allorder != null" >
        allOrder = #{record.allorder,jdbcType=INTEGER},
      </if>
      <if test="record.finishorder != null" >
        finishOrder = #{record.finishorder,jdbcType=INTEGER},
      </if>
      <if test="record.pendorder != null" >
        pendOrder = #{record.pendorder,jdbcType=INTEGER},
      </if>
      <if test="record.alipay != null" >
        alipay = #{record.alipay,jdbcType=VARCHAR},
      </if>
      <if test="record.wxpay != null" >
        wxpay = #{record.wxpay,jdbcType=VARCHAR},
      </if>
      <if test="record.walletpay != null" >
        walletpay = #{record.walletpay,jdbcType=VARCHAR},
      </if>
      <if test="record.packagepay != null" >
        packagepay = #{record.packagepay,jdbcType=VARCHAR},
      </if>
      <if test="record.allcomment != null" >
        allComment = #{record.allcomment,jdbcType=INTEGER},
      </if>
      <if test="record.goodcomment != null" >
        goodComment = #{record.goodcomment,jdbcType=INTEGER},
      </if>
      <if test="record.mediumcomment != null" >
        mediumComment = #{record.mediumcomment,jdbcType=INTEGER},
      </if>
      <if test="record.badcomment != null" >
        badComment = #{record.badcomment,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=INTEGER},
      </if>
      <if test="record.couponpay != null" >
        couponpay = #{record.couponpay,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mdd_api_beautician_data
    set id = #{record.id,jdbcType=INTEGER},
      bt_id = #{record.btId,jdbcType=INTEGER},
      beauty_id = #{record.beautyId,jdbcType=INTEGER},
      datetime = #{record.datetime,jdbcType=INTEGER},
      stream = #{record.stream,jdbcType=DECIMAL},
      income = #{record.income,jdbcType=DECIMAL},
      serviceUser = #{record.serviceuser,jdbcType=INTEGER},
      assignUser = #{record.assignuser,jdbcType=INTEGER},
      contentService = #{record.contentservice,jdbcType=INTEGER},
      allOrder = #{record.allorder,jdbcType=INTEGER},
      finishOrder = #{record.finishorder,jdbcType=INTEGER},
      pendOrder = #{record.pendorder,jdbcType=INTEGER},
      alipay = #{record.alipay,jdbcType=VARCHAR},
      wxpay = #{record.wxpay,jdbcType=VARCHAR},
      walletpay = #{record.walletpay,jdbcType=VARCHAR},
      packagepay = #{record.packagepay,jdbcType=VARCHAR},
      allComment = #{record.allcomment,jdbcType=INTEGER},
      goodComment = #{record.goodcomment,jdbcType=INTEGER},
      mediumComment = #{record.mediumcomment,jdbcType=INTEGER},
      badComment = #{record.badcomment,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=INTEGER},
      couponpay = #{record.couponpay,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airmcl.air.beautician.entity.BeauticianData" >
    update mdd_api_beautician_data
    <set >
      <if test="btId != null" >
        bt_id = #{btId,jdbcType=INTEGER},
      </if>
      <if test="beautyId != null" >
        beauty_id = #{beautyId,jdbcType=INTEGER},
      </if>
      <if test="datetime != null" >
        datetime = #{datetime,jdbcType=INTEGER},
      </if>
      <if test="stream != null" >
        stream = #{stream,jdbcType=DECIMAL},
      </if>
      <if test="income != null" >
        income = #{income,jdbcType=DECIMAL},
      </if>
      <if test="serviceuser != null" >
        serviceUser = #{serviceuser,jdbcType=INTEGER},
      </if>
      <if test="assignuser != null" >
        assignUser = #{assignuser,jdbcType=INTEGER},
      </if>
      <if test="contentservice != null" >
        contentService = #{contentservice,jdbcType=INTEGER},
      </if>
      <if test="allorder != null" >
        allOrder = #{allorder,jdbcType=INTEGER},
      </if>
      <if test="finishorder != null" >
        finishOrder = #{finishorder,jdbcType=INTEGER},
      </if>
      <if test="pendorder != null" >
        pendOrder = #{pendorder,jdbcType=INTEGER},
      </if>
      <if test="alipay != null" >
        alipay = #{alipay,jdbcType=VARCHAR},
      </if>
      <if test="wxpay != null" >
        wxpay = #{wxpay,jdbcType=VARCHAR},
      </if>
      <if test="walletpay != null" >
        walletpay = #{walletpay,jdbcType=VARCHAR},
      </if>
      <if test="packagepay != null" >
        packagepay = #{packagepay,jdbcType=VARCHAR},
      </if>
      <if test="allcomment != null" >
        allComment = #{allcomment,jdbcType=INTEGER},
      </if>
      <if test="goodcomment != null" >
        goodComment = #{goodcomment,jdbcType=INTEGER},
      </if>
      <if test="mediumcomment != null" >
        mediumComment = #{mediumcomment,jdbcType=INTEGER},
      </if>
      <if test="badcomment != null" >
        badComment = #{badcomment,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=INTEGER},
      </if>
      <if test="couponpay != null" >
        couponpay = #{couponpay,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airmcl.air.beautician.entity.BeauticianData" >
    update mdd_api_beautician_data
    set bt_id = #{btId,jdbcType=INTEGER},
      beauty_id = #{beautyId,jdbcType=INTEGER},
      datetime = #{datetime,jdbcType=INTEGER},
      stream = #{stream,jdbcType=DECIMAL},
      income = #{income,jdbcType=DECIMAL},
      serviceUser = #{serviceuser,jdbcType=INTEGER},
      assignUser = #{assignuser,jdbcType=INTEGER},
      contentService = #{contentservice,jdbcType=INTEGER},
      allOrder = #{allorder,jdbcType=INTEGER},
      finishOrder = #{finishorder,jdbcType=INTEGER},
      pendOrder = #{pendorder,jdbcType=INTEGER},
      alipay = #{alipay,jdbcType=VARCHAR},
      wxpay = #{wxpay,jdbcType=VARCHAR},
      walletpay = #{walletpay,jdbcType=VARCHAR},
      packagepay = #{packagepay,jdbcType=VARCHAR},
      allComment = #{allcomment,jdbcType=INTEGER},
      goodComment = #{goodcomment,jdbcType=INTEGER},
      mediumComment = #{mediumcomment,jdbcType=INTEGER},
      badComment = #{badcomment,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=INTEGER},
      couponpay = #{couponpay,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="com.airmcl.air.beautician.entity.BeauticianData" >
    insert into mdd_api_beautician_data (id, bt_id, beauty_id, datetime, 
      stream, income, serviceUser, 
      assignUser, contentService, allOrder, 
      finishOrder, pendOrder, alipay, 
      wxpay, walletpay, packagepay, 
      allComment, goodComment, mediumComment, 
      badComment, createtime, couponpay
      ) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{_uuid}, #{item.btId,jdbcType=INTEGER}, #{item.beautyId,jdbcType=INTEGER}, #{item.datetime,jdbcType=INTEGER}, 
        #{item.stream,jdbcType=DECIMAL}, #{item.income,jdbcType=DECIMAL}, #{item.serviceuser,jdbcType=INTEGER}, 
        #{item.assignuser,jdbcType=INTEGER}, #{item.contentservice,jdbcType=INTEGER}, #{item.allorder,jdbcType=INTEGER}, 
        #{item.finishorder,jdbcType=INTEGER}, #{item.pendorder,jdbcType=INTEGER}, #{item.alipay,jdbcType=VARCHAR}, 
        #{item.wxpay,jdbcType=VARCHAR}, #{item.walletpay,jdbcType=VARCHAR}, #{item.packagepay,jdbcType=VARCHAR}, 
        #{item.allcomment,jdbcType=INTEGER}, #{item.goodcomment,jdbcType=INTEGER}, #{item.mediumcomment,jdbcType=INTEGER}, 
        #{item.badcomment,jdbcType=INTEGER}, #{item.createtime,jdbcType=INTEGER}, #{item.couponpay,jdbcType=VARCHAR}
        )
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.beautician.entity.BeauticianDataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_beautician_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>