<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.beautician.dao.BeauticianMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.beautician.entity.Beautician" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="psw" property="psw" jdbcType="VARCHAR" />
    <result column="headpic" property="headpic" jdbcType="VARCHAR" />
    <result column="beauty_id" property="beautyId" jdbcType="INTEGER" />
    <result column="career_type" property="careerType" jdbcType="TINYINT" />
    <result column="professional_score" property="professionalScore" jdbcType="INTEGER" />
    <result column="punctuality_score" property="punctualityScore" jdbcType="INTEGER" />
    <result column="communicate_score" property="communicateScore" jdbcType="INTEGER" />
    <result column="comment_total" property="commentTotal" jdbcType="SMALLINT" />
    <result column="service_total" property="serviceTotal" jdbcType="SMALLINT" />
    <result column="store_score" property="storeScore" jdbcType="INTEGER" />
    <result column="good_total" property="goodTotal" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="SMALLINT" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, open_id, name, mobile, psw, headpic, beauty_id, career_type, professional_score, 
    punctuality_score, communicate_score, comment_total, service_total, store_score, 
    good_total, sort, state, createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.beautician.entity.BeauticianExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_beautician
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mdd_api_beautician
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mdd_api_beautician
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.airmcl.air.beautician.entity.BeauticianExample" >
    delete from mdd_api_beautician
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airmcl.air.beautician.entity.Beautician" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_beautician (open_id, name, mobile, 
      psw, headpic, beauty_id, 
      career_type, professional_score, punctuality_score, 
      communicate_score, comment_total, service_total, 
      store_score, good_total, sort, 
      state, createtime)
    values (#{openId,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{psw,jdbcType=VARCHAR}, #{headpic,jdbcType=VARCHAR}, #{beautyId,jdbcType=INTEGER}, 
      #{careerType,jdbcType=TINYINT}, #{professionalScore,jdbcType=INTEGER}, #{punctualityScore,jdbcType=INTEGER}, 
      #{communicateScore,jdbcType=INTEGER}, #{commentTotal,jdbcType=SMALLINT}, #{serviceTotal,jdbcType=SMALLINT}, 
      #{storeScore,jdbcType=INTEGER}, #{goodTotal,jdbcType=INTEGER}, #{sort,jdbcType=SMALLINT}, 
      #{state,jdbcType=TINYINT}, #{createtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.airmcl.air.beautician.entity.Beautician" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_beautician
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        open_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="psw != null" >
        psw,
      </if>
      <if test="headpic != null" >
        headpic,
      </if>
      <if test="beautyId != null" >
        beauty_id,
      </if>
      <if test="careerType != null" >
        career_type,
      </if>
      <if test="professionalScore != null" >
        professional_score,
      </if>
      <if test="punctualityScore != null" >
        punctuality_score,
      </if>
      <if test="communicateScore != null" >
        communicate_score,
      </if>
      <if test="commentTotal != null" >
        comment_total,
      </if>
      <if test="serviceTotal != null" >
        service_total,
      </if>
      <if test="storeScore != null" >
        store_score,
      </if>
      <if test="goodTotal != null" >
        good_total,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        #{openId,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="psw != null" >
        #{psw,jdbcType=VARCHAR},
      </if>
      <if test="headpic != null" >
        #{headpic,jdbcType=VARCHAR},
      </if>
      <if test="beautyId != null" >
        #{beautyId,jdbcType=INTEGER},
      </if>
      <if test="careerType != null" >
        #{careerType,jdbcType=TINYINT},
      </if>
      <if test="professionalScore != null" >
        #{professionalScore,jdbcType=INTEGER},
      </if>
      <if test="punctualityScore != null" >
        #{punctualityScore,jdbcType=INTEGER},
      </if>
      <if test="communicateScore != null" >
        #{communicateScore,jdbcType=INTEGER},
      </if>
      <if test="commentTotal != null" >
        #{commentTotal,jdbcType=SMALLINT},
      </if>
      <if test="serviceTotal != null" >
        #{serviceTotal,jdbcType=SMALLINT},
      </if>
      <if test="storeScore != null" >
        #{storeScore,jdbcType=INTEGER},
      </if>
      <if test="goodTotal != null" >
        #{goodTotal,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=SMALLINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airmcl.air.beautician.entity.BeauticianExample" resultType="java.lang.Integer" >
    select count(*) from mdd_api_beautician
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mdd_api_beautician
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.openId != null" >
        open_id = #{record.openId,jdbcType=CHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.psw != null" >
        psw = #{record.psw,jdbcType=VARCHAR},
      </if>
      <if test="record.headpic != null" >
        headpic = #{record.headpic,jdbcType=VARCHAR},
      </if>
      <if test="record.beautyId != null" >
        beauty_id = #{record.beautyId,jdbcType=INTEGER},
      </if>
      <if test="record.careerType != null" >
        career_type = #{record.careerType,jdbcType=TINYINT},
      </if>
      <if test="record.professionalScore != null" >
        professional_score = #{record.professionalScore,jdbcType=INTEGER},
      </if>
      <if test="record.punctualityScore != null" >
        punctuality_score = #{record.punctualityScore,jdbcType=INTEGER},
      </if>
      <if test="record.communicateScore != null" >
        communicate_score = #{record.communicateScore,jdbcType=INTEGER},
      </if>
      <if test="record.commentTotal != null" >
        comment_total = #{record.commentTotal,jdbcType=SMALLINT},
      </if>
      <if test="record.serviceTotal != null" >
        service_total = #{record.serviceTotal,jdbcType=SMALLINT},
      </if>
      <if test="record.storeScore != null" >
        store_score = #{record.storeScore,jdbcType=INTEGER},
      </if>
      <if test="record.goodTotal != null" >
        good_total = #{record.goodTotal,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=SMALLINT},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mdd_api_beautician
    set id = #{record.id,jdbcType=INTEGER},
      open_id = #{record.openId,jdbcType=CHAR},
      name = #{record.name,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      psw = #{record.psw,jdbcType=VARCHAR},
      headpic = #{record.headpic,jdbcType=VARCHAR},
      beauty_id = #{record.beautyId,jdbcType=INTEGER},
      career_type = #{record.careerType,jdbcType=TINYINT},
      professional_score = #{record.professionalScore,jdbcType=INTEGER},
      punctuality_score = #{record.punctualityScore,jdbcType=INTEGER},
      communicate_score = #{record.communicateScore,jdbcType=INTEGER},
      comment_total = #{record.commentTotal,jdbcType=SMALLINT},
      service_total = #{record.serviceTotal,jdbcType=SMALLINT},
      store_score = #{record.storeScore,jdbcType=INTEGER},
      good_total = #{record.goodTotal,jdbcType=INTEGER},
      sort = #{record.sort,jdbcType=SMALLINT},
      state = #{record.state,jdbcType=TINYINT},
      createtime = #{record.createtime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airmcl.air.beautician.entity.Beautician" >
    update mdd_api_beautician
    <set >
      <if test="openId != null" >
        open_id = #{openId,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="psw != null" >
        psw = #{psw,jdbcType=VARCHAR},
      </if>
      <if test="headpic != null" >
        headpic = #{headpic,jdbcType=VARCHAR},
      </if>
      <if test="beautyId != null" >
        beauty_id = #{beautyId,jdbcType=INTEGER},
      </if>
      <if test="careerType != null" >
        career_type = #{careerType,jdbcType=TINYINT},
      </if>
      <if test="professionalScore != null" >
        professional_score = #{professionalScore,jdbcType=INTEGER},
      </if>
      <if test="punctualityScore != null" >
        punctuality_score = #{punctualityScore,jdbcType=INTEGER},
      </if>
      <if test="communicateScore != null" >
        communicate_score = #{communicateScore,jdbcType=INTEGER},
      </if>
      <if test="commentTotal != null" >
        comment_total = #{commentTotal,jdbcType=SMALLINT},
      </if>
      <if test="serviceTotal != null" >
        service_total = #{serviceTotal,jdbcType=SMALLINT},
      </if>
      <if test="storeScore != null" >
        store_score = #{storeScore,jdbcType=INTEGER},
      </if>
      <if test="goodTotal != null" >
        good_total = #{goodTotal,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=SMALLINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airmcl.air.beautician.entity.Beautician" >
    update mdd_api_beautician
    set open_id = #{openId,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      psw = #{psw,jdbcType=VARCHAR},
      headpic = #{headpic,jdbcType=VARCHAR},
      beauty_id = #{beautyId,jdbcType=INTEGER},
      career_type = #{careerType,jdbcType=TINYINT},
      professional_score = #{professionalScore,jdbcType=INTEGER},
      punctuality_score = #{punctualityScore,jdbcType=INTEGER},
      communicate_score = #{communicateScore,jdbcType=INTEGER},
      comment_total = #{commentTotal,jdbcType=SMALLINT},
      service_total = #{serviceTotal,jdbcType=SMALLINT},
      store_score = #{storeScore,jdbcType=INTEGER},
      good_total = #{goodTotal,jdbcType=INTEGER},
      sort = #{sort,jdbcType=SMALLINT},
      state = #{state,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="com.airmcl.air.beautician.entity.Beautician" >
    insert into mdd_api_beautician (id, open_id, name, mobile, 
      psw, headpic, beauty_id, 
      career_type, professional_score, 
      punctuality_score, communicate_score, 
      comment_total, service_total, 
      store_score, good_total, sort, 
      state, createtime) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{_uuid}, #{item.openId,jdbcType=CHAR}, #{item.name,jdbcType=VARCHAR}, #{item.mobile,jdbcType=VARCHAR}, 
        #{item.psw,jdbcType=VARCHAR}, #{item.headpic,jdbcType=VARCHAR}, #{item.beautyId,jdbcType=INTEGER}, 
        #{item.careerType,jdbcType=TINYINT}, #{item.professionalScore,jdbcType=INTEGER}, 
        #{item.punctualityScore,jdbcType=INTEGER}, #{item.communicateScore,jdbcType=INTEGER}, 
        #{item.commentTotal,jdbcType=SMALLINT}, #{item.serviceTotal,jdbcType=SMALLINT}, 
        #{item.storeScore,jdbcType=INTEGER}, #{item.goodTotal,jdbcType=INTEGER}, #{item.sort,jdbcType=SMALLINT}, 
        #{item.state,jdbcType=TINYINT}, #{item.createtime,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.beautician.entity.BeauticianExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_beautician
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <delete id="deleteByIds" parameterType="java.util.List" >

    DELETE  FROM  mdd_api_beautician  WHERE  id in

    <foreach item="item" index="index" collection="list"
             open="(" separator="," close=")">
      #{item}
    </foreach>

  </delete>



  <update id="updateState" >
    UPDATE mdd_api_beautician SET state=#{state}
    WHERE  id in
    <foreach item="item" index="index" collection="ids"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>





</mapper>