<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.service.dao.ServicesHomeBuyRecordMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.service.entity.ServicesHomeBuyRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="service_id" property="serviceId" jdbcType="INTEGER" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="is_purchase" property="isPurchase" jdbcType="TINYINT" />
    <result column="createtime" property="createtime" jdbcType="INTEGER" />
    <result column="total" property="total" jdbcType="INTEGER" />
    <result column="purchase_total" property="purchaseTotal" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, service_id, admin_id, is_purchase, createtime, total, purchase_total, type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.service.entity.ServicesHomeBuyRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_services_homebuy_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mdd_api_services_homebuy_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mdd_api_services_homebuy_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.airmcl.air.service.entity.ServicesHomeBuyRecordExample" >
    delete from mdd_api_services_homebuy_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airmcl.air.service.entity.ServicesHomeBuyRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_services_homebuy_record (service_id, admin_id, is_purchase, 
      createtime, total, purchase_total, 
      type)
    values (#{serviceId,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, #{isPurchase,jdbcType=TINYINT}, 
      #{createtime,jdbcType=INTEGER}, #{total,jdbcType=INTEGER}, #{purchaseTotal,jdbcType=INTEGER}, 
      #{type,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.airmcl.air.service.entity.ServicesHomeBuyRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_services_homebuy_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serviceId != null" >
        service_id,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="isPurchase != null" >
        is_purchase,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="purchaseTotal != null" >
        purchase_total,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serviceId != null" >
        #{serviceId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="isPurchase != null" >
        #{isPurchase,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        #{total,jdbcType=INTEGER},
      </if>
      <if test="purchaseTotal != null" >
        #{purchaseTotal,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airmcl.air.service.entity.ServicesHomeBuyRecordExample" resultType="java.lang.Integer" >
    select count(*) from mdd_api_services_homebuy_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mdd_api_services_homebuy_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.serviceId != null" >
        service_id = #{record.serviceId,jdbcType=INTEGER},
      </if>
      <if test="record.adminId != null" >
        admin_id = #{record.adminId,jdbcType=INTEGER},
      </if>
      <if test="record.isPurchase != null" >
        is_purchase = #{record.isPurchase,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=INTEGER},
      </if>
      <if test="record.total != null" >
        total = #{record.total,jdbcType=INTEGER},
      </if>
      <if test="record.purchaseTotal != null" >
        purchase_total = #{record.purchaseTotal,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mdd_api_services_homebuy_record
    set id = #{record.id,jdbcType=INTEGER},
      service_id = #{record.serviceId,jdbcType=INTEGER},
      admin_id = #{record.adminId,jdbcType=INTEGER},
      is_purchase = #{record.isPurchase,jdbcType=TINYINT},
      createtime = #{record.createtime,jdbcType=INTEGER},
      total = #{record.total,jdbcType=INTEGER},
      purchase_total = #{record.purchaseTotal,jdbcType=INTEGER},
      type = #{record.type,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airmcl.air.service.entity.ServicesHomeBuyRecord" >
    update mdd_api_services_homebuy_record
    <set >
      <if test="serviceId != null" >
        service_id = #{serviceId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="isPurchase != null" >
        is_purchase = #{isPurchase,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="purchaseTotal != null" >
        purchase_total = #{purchaseTotal,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airmcl.air.service.entity.ServicesHomeBuyRecord" >
    update mdd_api_services_homebuy_record
    set service_id = #{serviceId,jdbcType=INTEGER},
      admin_id = #{adminId,jdbcType=INTEGER},
      is_purchase = #{isPurchase,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=INTEGER},
      total = #{total,jdbcType=INTEGER},
      purchase_total = #{purchaseTotal,jdbcType=INTEGER},
      type = #{type,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="com.airmcl.air.service.entity.ServicesHomeBuyRecord" >
    insert into mdd_api_services_homebuy_record (id, service_id, admin_id, 
      is_purchase, createtime, total, 
      purchase_total, type) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{_uuid}, #{item.serviceId,jdbcType=INTEGER}, #{item.adminId,jdbcType=INTEGER}, 
        #{item.isPurchase,jdbcType=TINYINT}, #{item.createtime,jdbcType=INTEGER}, #{item.total,jdbcType=INTEGER}, 
        #{item.purchaseTotal,jdbcType=INTEGER}, #{item.type,jdbcType=CHAR})
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.service.entity.ServicesHomeBuyRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_services_homebuy_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>