<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.service.dao.ServiceMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.service.entity.Service" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="beauty_id" property="beautyId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="ledger_rule_id" property="ledgerRuleId" jdbcType="CHAR" />
    <result column="ledger_rule_name" property="ledgerRuleName" jdbcType="VARCHAR" />
    <result column="ledger_cycle" property="ledgerCycle" jdbcType="TINYINT" />
    <result column="service_type" property="serviceType" jdbcType="TINYINT" />
    <result column="service_name" property="serviceName" jdbcType="VARCHAR" />
    <result column="service_name_phonetic" property="serviceNamePhonetic" jdbcType="VARCHAR" />
    <result column="service_subtitle" property="serviceSubtitle" jdbcType="VARCHAR" />
    <result column="service_time" property="serviceTime" jdbcType="INTEGER" />
    <result column="service_cover" property="serviceCover" jdbcType="VARCHAR" />
    <result column="original_price" property="originalPrice" jdbcType="DECIMAL" />
    <result column="member_price" property="memberPrice" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="rofit_ratio" property="rofitRatio" jdbcType="REAL" />
    <result column="discount_price" property="discountPrice" jdbcType="DECIMAL" />
    <result column="appoint_total" property="appointTotal" jdbcType="SMALLINT" />
    <result column="comment_total" property="commentTotal" jdbcType="SMALLINT" />
    <result column="sort" property="sort" jdbcType="SMALLINT" />
    <result column="is_package" property="isPackage" jdbcType="TINYINT" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="pay_way" property="payWay" jdbcType="VARCHAR" />
    <result column="is_coupon" property="isCoupon" jdbcType="TINYINT" />
    <result column="is_refund" property="isRefund" jdbcType="TINYINT" />
    <result column="is_purchase" property="isPurchase" jdbcType="TINYINT" />
    <result column="out_time_day" property="outTimeDay" jdbcType="TINYINT" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="sweep_the_yard" property="sweepTheYard" jdbcType="TINYINT" />
    <result column="createtime" property="createtime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, beauty_id, type, ledger_rule_id, ledger_rule_name, ledger_cycle, service_type, 
    service_name, service_name_phonetic, service_subtitle, service_time, service_cover, 
    original_price, member_price, price, rofit_ratio, discount_price, appoint_total, 
    comment_total, sort, is_package, tag, pay_way, is_coupon, is_refund, is_purchase,sweep_the_yard, 
    out_time_day, state, createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.service.entity.ServiceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_service
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mdd_api_service
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mdd_api_service
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.airmcl.air.service.entity.ServiceExample" >
    delete from mdd_api_service
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airmcl.air.service.entity.Service" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_service (beauty_id, type, ledger_rule_id, 
      ledger_rule_name, ledger_cycle, service_type, 
      service_name, service_name_phonetic, service_subtitle, 
      service_time, service_cover, original_price, 
      member_price, price, rofit_ratio, 
      discount_price, appoint_total, comment_total, 
      sort, is_package, tag, 
      pay_way, is_coupon, is_refund, 
      is_purchase, out_time_day, state,sweep_the_yard, 
      createtime)
    values (#{beautyId,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, #{ledgerRuleId,jdbcType=CHAR}, 
      #{ledgerRuleName,jdbcType=VARCHAR}, #{ledgerCycle,jdbcType=TINYINT}, #{serviceType,jdbcType=TINYINT}, 
      #{serviceName,jdbcType=VARCHAR}, #{serviceNamePhonetic,jdbcType=VARCHAR}, #{serviceSubtitle,jdbcType=VARCHAR}, 
      #{serviceTime,jdbcType=INTEGER}, #{serviceCover,jdbcType=VARCHAR}, #{originalPrice,jdbcType=DECIMAL}, 
      #{memberPrice,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, #{rofitRatio,jdbcType=REAL}, 
      #{discountPrice,jdbcType=DECIMAL}, #{appointTotal,jdbcType=SMALLINT}, #{commentTotal,jdbcType=SMALLINT}, 
      #{sort,jdbcType=SMALLINT}, #{isPackage,jdbcType=TINYINT}, #{tag,jdbcType=VARCHAR}, 
      #{payWay,jdbcType=VARCHAR}, #{isCoupon,jdbcType=TINYINT}, #{isRefund,jdbcType=TINYINT}, 
      #{isPurchase,jdbcType=TINYINT}, #{outTimeDay,jdbcType=TINYINT}, #{state,jdbcType=TINYINT}, #{sweepTheYard,jdbcType=TINYINT}, 
      #{createtime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.airmcl.air.service.entity.Service" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_service
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="beautyId != null" >
        beauty_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="ledgerRuleId != null" >
        ledger_rule_id,
      </if>
      <if test="ledgerRuleName != null" >
        ledger_rule_name,
      </if>
      <if test="ledgerCycle != null" >
        ledger_cycle,
      </if>
      <if test="serviceType != null" >
        service_type,
      </if>
      <if test="serviceName != null" >
        service_name,
      </if>
      <if test="serviceNamePhonetic != null" >
        service_name_phonetic,
      </if>
      <if test="serviceSubtitle != null" >
        service_subtitle,
      </if>
      <if test="serviceTime != null" >
        service_time,
      </if>
      <if test="serviceCover != null" >
        service_cover,
      </if>
      <if test="originalPrice != null" >
        original_price,
      </if>
      <if test="memberPrice != null" >
        member_price,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="rofitRatio != null" >
        rofit_ratio,
      </if>
      <if test="discountPrice != null" >
        discount_price,
      </if>
      <if test="appointTotal != null" >
        appoint_total,
      </if>
      <if test="commentTotal != null" >
        comment_total,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="isPackage != null" >
        is_package,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="payWay != null" >
        pay_way,
      </if>
      <if test="isCoupon != null" >
        is_coupon,
      </if>
      <if test="isRefund != null" >
        is_refund,
      </if>
      <if test="isPurchase != null" >
        is_purchase,
      </if>
      <if test="outTimeDay != null" >
        out_time_day,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="sweepTheYard != null" >
        sweep_the_yard,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="beautyId != null" >
        #{beautyId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="ledgerRuleId != null" >
        #{ledgerRuleId,jdbcType=CHAR},
      </if>
      <if test="ledgerRuleName != null" >
        #{ledgerRuleName,jdbcType=VARCHAR},
      </if>
      <if test="ledgerCycle != null" >
        #{ledgerCycle,jdbcType=TINYINT},
      </if>
      <if test="serviceType != null" >
        #{serviceType,jdbcType=TINYINT},
      </if>
      <if test="serviceName != null" >
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceNamePhonetic != null" >
        #{serviceNamePhonetic,jdbcType=VARCHAR},
      </if>
      <if test="serviceSubtitle != null" >
        #{serviceSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="serviceTime != null" >
        #{serviceTime,jdbcType=INTEGER},
      </if>
      <if test="serviceCover != null" >
        #{serviceCover,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null" >
        #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="memberPrice != null" >
        #{memberPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="rofitRatio != null" >
        #{rofitRatio,jdbcType=REAL},
      </if>
      <if test="discountPrice != null" >
        #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="appointTotal != null" >
        #{appointTotal,jdbcType=SMALLINT},
      </if>
      <if test="commentTotal != null" >
        #{commentTotal,jdbcType=SMALLINT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=SMALLINT},
      </if>
      <if test="isPackage != null" >
        #{isPackage,jdbcType=TINYINT},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="payWay != null" >
        #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="isCoupon != null" >
        #{isCoupon,jdbcType=TINYINT},
      </if>
      <if test="isRefund != null" >
        #{isRefund,jdbcType=TINYINT},
      </if>
      <if test="isPurchase != null" >
        #{isPurchase,jdbcType=TINYINT},
      </if>
      <if test="outTimeDay != null" >
        #{outTimeDay,jdbcType=TINYINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="sweepTheYard != null" >
        #{sweepTheYard,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airmcl.air.service.entity.ServiceExample" resultType="java.lang.Integer" >
    select count(*) from mdd_api_service
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mdd_api_service
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.beautyId != null" >
        beauty_id = #{record.beautyId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.ledgerRuleId != null" >
        ledger_rule_id = #{record.ledgerRuleId,jdbcType=CHAR},
      </if>
      <if test="record.ledgerRuleName != null" >
        ledger_rule_name = #{record.ledgerRuleName,jdbcType=VARCHAR},
      </if>
      <if test="record.ledgerCycle != null" >
        ledger_cycle = #{record.ledgerCycle,jdbcType=TINYINT},
      </if>
      <if test="record.serviceType != null" >
        service_type = #{record.serviceType,jdbcType=TINYINT},
      </if>
      <if test="record.serviceName != null" >
        service_name = #{record.serviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceNamePhonetic != null" >
        service_name_phonetic = #{record.serviceNamePhonetic,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceSubtitle != null" >
        service_subtitle = #{record.serviceSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceTime != null" >
        service_time = #{record.serviceTime,jdbcType=INTEGER},
      </if>
      <if test="record.serviceCover != null" >
        service_cover = #{record.serviceCover,jdbcType=VARCHAR},
      </if>
      <if test="record.originalPrice != null" >
        original_price = #{record.originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.memberPrice != null" >
        member_price = #{record.memberPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.rofitRatio != null" >
        rofit_ratio = #{record.rofitRatio,jdbcType=REAL},
      </if>
      <if test="record.discountPrice != null" >
        discount_price = #{record.discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.appointTotal != null" >
        appoint_total = #{record.appointTotal,jdbcType=SMALLINT},
      </if>
      <if test="record.commentTotal != null" >
        comment_total = #{record.commentTotal,jdbcType=SMALLINT},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=SMALLINT},
      </if>
      <if test="record.isPackage != null" >
        is_package = #{record.isPackage,jdbcType=TINYINT},
      </if>
      <if test="record.tag != null" >
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
      <if test="record.payWay != null" >
        pay_way = #{record.payWay,jdbcType=VARCHAR},
      </if>
      <if test="record.isCoupon != null" >
        is_coupon = #{record.isCoupon,jdbcType=TINYINT},
      </if>
      <if test="record.isRefund != null" >
        is_refund = #{record.isRefund,jdbcType=TINYINT},
      </if>
      <if test="record.isPurchase != null" >
        is_purchase = #{record.isPurchase,jdbcType=TINYINT},
      </if>
      <if test="record.outTimeDay != null" >
        out_time_day = #{record.outTimeDay,jdbcType=TINYINT},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
       <if test="record.sweepTheYard != null" >
        sweep_the_yard = #{record.sweepTheYard,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mdd_api_service
    set id = #{record.id,jdbcType=INTEGER},
      beauty_id = #{record.beautyId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=TINYINT},
      ledger_rule_id = #{record.ledgerRuleId,jdbcType=CHAR},
      ledger_rule_name = #{record.ledgerRuleName,jdbcType=VARCHAR},
      ledger_cycle = #{record.ledgerCycle,jdbcType=TINYINT},
      service_type = #{record.serviceType,jdbcType=TINYINT},
      service_name = #{record.serviceName,jdbcType=VARCHAR},
      service_name_phonetic = #{record.serviceNamePhonetic,jdbcType=VARCHAR},
      service_subtitle = #{record.serviceSubtitle,jdbcType=VARCHAR},
      service_time = #{record.serviceTime,jdbcType=INTEGER},
      service_cover = #{record.serviceCover,jdbcType=VARCHAR},
      original_price = #{record.originalPrice,jdbcType=DECIMAL},
      member_price = #{record.memberPrice,jdbcType=DECIMAL},
      price = #{record.price,jdbcType=DECIMAL},
      rofit_ratio = #{record.rofitRatio,jdbcType=REAL},
      discount_price = #{record.discountPrice,jdbcType=DECIMAL},
      appoint_total = #{record.appointTotal,jdbcType=SMALLINT},
      comment_total = #{record.commentTotal,jdbcType=SMALLINT},
      sort = #{record.sort,jdbcType=SMALLINT},
      is_package = #{record.isPackage,jdbcType=TINYINT},
      tag = #{record.tag,jdbcType=VARCHAR},
      pay_way = #{record.payWay,jdbcType=VARCHAR},
      is_coupon = #{record.isCoupon,jdbcType=TINYINT},
      is_refund = #{record.isRefund,jdbcType=TINYINT},
      is_purchase = #{record.isPurchase,jdbcType=TINYINT},
      out_time_day = #{record.outTimeDay,jdbcType=TINYINT},
      state = #{record.state,jdbcType=TINYINT},
      sweep_the_yard = #{record.sweepTheYard,jdbcType=TINYINT},
      createtime = #{record.createtime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airmcl.air.service.entity.Service" >
    update mdd_api_service
    <set >
      <if test="beautyId != null" >
        beauty_id = #{beautyId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="ledgerRuleId != null" >
        ledger_rule_id = #{ledgerRuleId,jdbcType=CHAR},
      </if>
      <if test="ledgerRuleName != null" >
        ledger_rule_name = #{ledgerRuleName,jdbcType=VARCHAR},
      </if>
      <if test="ledgerCycle != null" >
        ledger_cycle = #{ledgerCycle,jdbcType=TINYINT},
      </if>
      <if test="serviceType != null" >
        service_type = #{serviceType,jdbcType=TINYINT},
      </if>
      <if test="serviceName != null" >
        service_name = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceNamePhonetic != null" >
        service_name_phonetic = #{serviceNamePhonetic,jdbcType=VARCHAR},
      </if>
      <if test="serviceSubtitle != null" >
        service_subtitle = #{serviceSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="serviceTime != null" >
        service_time = #{serviceTime,jdbcType=INTEGER},
      </if>
      <if test="serviceCover != null" >
        service_cover = #{serviceCover,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null" >
        original_price = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="memberPrice != null" >
        member_price = #{memberPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="rofitRatio != null" >
        rofit_ratio = #{rofitRatio,jdbcType=REAL},
      </if>
      <if test="discountPrice != null" >
        discount_price = #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="appointTotal != null" >
        appoint_total = #{appointTotal,jdbcType=SMALLINT},
      </if>
      <if test="commentTotal != null" >
        comment_total = #{commentTotal,jdbcType=SMALLINT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=SMALLINT},
      </if>
      <if test="isPackage != null" >
        is_package = #{isPackage,jdbcType=TINYINT},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="payWay != null" >
        pay_way = #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="isCoupon != null" >
        is_coupon = #{isCoupon,jdbcType=TINYINT},
      </if>
      <if test="isRefund != null" >
        is_refund = #{isRefund,jdbcType=TINYINT},
      </if>
      <if test="isPurchase != null" >
        is_purchase = #{isPurchase,jdbcType=TINYINT},
      </if>
      <if test="outTimeDay != null" >
        out_time_day = #{outTimeDay,jdbcType=TINYINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},   
      </if>
      <if test="sweepTheYard != null" >
        sweep_the_yard = #{sweepTheYard,jdbcType=TINYINT},   
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airmcl.air.service.entity.Service" >
    update mdd_api_service
    set beauty_id = #{beautyId,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      ledger_rule_id = #{ledgerRuleId,jdbcType=CHAR},
      ledger_rule_name = #{ledgerRuleName,jdbcType=VARCHAR},
      ledger_cycle = #{ledgerCycle,jdbcType=TINYINT},
      service_type = #{serviceType,jdbcType=TINYINT},
      service_name = #{serviceName,jdbcType=VARCHAR},
      service_name_phonetic = #{serviceNamePhonetic,jdbcType=VARCHAR},
      service_subtitle = #{serviceSubtitle,jdbcType=VARCHAR},
      service_time = #{serviceTime,jdbcType=INTEGER},
      service_cover = #{serviceCover,jdbcType=VARCHAR},
      original_price = #{originalPrice,jdbcType=DECIMAL},
      member_price = #{memberPrice,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      rofit_ratio = #{rofitRatio,jdbcType=REAL},
      discount_price = #{discountPrice,jdbcType=DECIMAL},
      appoint_total = #{appointTotal,jdbcType=SMALLINT},
      comment_total = #{commentTotal,jdbcType=SMALLINT},
      sort = #{sort,jdbcType=SMALLINT},
      is_package = #{isPackage,jdbcType=TINYINT},
      tag = #{tag,jdbcType=VARCHAR},
      pay_way = #{payWay,jdbcType=VARCHAR},
      is_coupon = #{isCoupon,jdbcType=TINYINT},
      is_refund = #{isRefund,jdbcType=TINYINT},
      is_purchase = #{isPurchase,jdbcType=TINYINT},
      out_time_day = #{outTimeDay,jdbcType=TINYINT},
      state = #{state,jdbcType=TINYINT},
      sweep_the_yard = #{sweepTheYard,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="com.airmcl.air.service.entity.Service" >
    insert into mdd_api_service (id, beauty_id, type, ledger_rule_id, 
      ledger_rule_name, ledger_cycle, 
      service_type, service_name, service_name_phonetic, 
      service_subtitle, service_time, 
      service_cover, original_price, 
      member_price, price, rofit_ratio, 
      discount_price, appoint_total, 
      comment_total, sort, is_package, 
      tag, pay_way, is_coupon, 
      is_refund, is_purchase, out_time_day, 
      state,sweep_the_yard, createtime) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{_uuid}, #{item.beautyId,jdbcType=INTEGER}, #{item.type,jdbcType=TINYINT}, #{item.ledgerRuleId,jdbcType=CHAR}, 
        #{item.ledgerRuleName,jdbcType=VARCHAR}, #{item.ledgerCycle,jdbcType=TINYINT}, 
        #{item.serviceType,jdbcType=TINYINT}, #{item.serviceName,jdbcType=VARCHAR}, #{item.serviceNamePhonetic,jdbcType=VARCHAR}, 
        #{item.serviceSubtitle,jdbcType=VARCHAR}, #{item.serviceTime,jdbcType=INTEGER}, 
        #{item.serviceCover,jdbcType=VARCHAR}, #{item.originalPrice,jdbcType=DECIMAL}, 
        #{item.memberPrice,jdbcType=DECIMAL}, #{item.price,jdbcType=DECIMAL}, #{item.rofitRatio,jdbcType=REAL}, 
        #{item.discountPrice,jdbcType=DECIMAL}, #{item.appointTotal,jdbcType=SMALLINT}, 
        #{item.commentTotal,jdbcType=SMALLINT}, #{item.sort,jdbcType=SMALLINT}, #{item.isPackage,jdbcType=TINYINT}, 
        #{item.tag,jdbcType=VARCHAR}, #{item.payWay,jdbcType=VARCHAR}, #{item.isCoupon,jdbcType=TINYINT}, 
        #{item.isRefund,jdbcType=TINYINT}, #{item.isPurchase,jdbcType=TINYINT}, #{item.outTimeDay,jdbcType=TINYINT}, 
        #{item.state,jdbcType=TINYINT},#{item.sweepTheYard,jdbcType=TINYINT}, #{item.createtime,jdbcType=INTEGER})
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.service.entity.ServiceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_service
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}  
    </if>
  </select>
</mapper>