<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.service.dao.ServiceTypeEquipmentMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.service.entity.ServiceTypeEquipment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="service_type" property="serviceType" jdbcType="INTEGER" />
    <result column="equipment_type_id" property="equipmentTypeId" jdbcType="CHAR" />
    <result column="equipment_id" property="equipmentId" jdbcType="CHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="createtime" property="createtime" jdbcType="INTEGER" />
    <result column="is_scan" property="isScan" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, service_type, equipment_type_id, equipment_id, state, createtime, is_scan
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.service.entity.ServiceTypeEquipmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_service_type_equipment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mdd_api_service_type_equipment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mdd_api_service_type_equipment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.airmcl.air.service.entity.ServiceTypeEquipmentExample" >
    delete from mdd_api_service_type_equipment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airmcl.air.service.entity.ServiceTypeEquipment" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_service_type_equipment (service_type, equipment_type_id, equipment_id, 
      state, createtime, is_scan
      )
    values (#{serviceType,jdbcType=INTEGER}, #{equipmentTypeId,jdbcType=CHAR}, #{equipmentId,jdbcType=CHAR}, 
      #{state,jdbcType=TINYINT}, #{createtime,jdbcType=INTEGER}, #{isScan,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.airmcl.air.service.entity.ServiceTypeEquipment" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_service_type_equipment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serviceType != null" >
        service_type,
      </if>
      <if test="equipmentTypeId != null" >
        equipment_type_id,
      </if>
      <if test="equipmentId != null" >
        equipment_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="isScan != null" >
        is_scan,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serviceType != null" >
        #{serviceType,jdbcType=INTEGER},
      </if>
      <if test="equipmentTypeId != null" >
        #{equipmentTypeId,jdbcType=CHAR},
      </if>
      <if test="equipmentId != null" >
        #{equipmentId,jdbcType=CHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=INTEGER},
      </if>
      <if test="isScan != null" >
        #{isScan,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airmcl.air.service.entity.ServiceTypeEquipmentExample" resultType="java.lang.Integer" >
    select count(*) from mdd_api_service_type_equipment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mdd_api_service_type_equipment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.serviceType != null" >
        service_type = #{record.serviceType,jdbcType=INTEGER},
      </if>
      <if test="record.equipmentTypeId != null" >
        equipment_type_id = #{record.equipmentTypeId,jdbcType=CHAR},
      </if>
      <if test="record.equipmentId != null" >
        equipment_id = #{record.equipmentId,jdbcType=CHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=INTEGER},
      </if>
      <if test="record.isScan != null" >
        is_scan = #{record.isScan,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mdd_api_service_type_equipment
    set id = #{record.id,jdbcType=INTEGER},
      service_type = #{record.serviceType,jdbcType=INTEGER},
      equipment_type_id = #{record.equipmentTypeId,jdbcType=CHAR},
      equipment_id = #{record.equipmentId,jdbcType=CHAR},
      state = #{record.state,jdbcType=TINYINT},
      createtime = #{record.createtime,jdbcType=INTEGER},
      is_scan = #{record.isScan,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airmcl.air.service.entity.ServiceTypeEquipment" >
    update mdd_api_service_type_equipment
    <set >
      <if test="serviceType != null" >
        service_type = #{serviceType,jdbcType=INTEGER},
      </if>
      <if test="equipmentTypeId != null" >
        equipment_type_id = #{equipmentTypeId,jdbcType=CHAR},
      </if>
      <if test="equipmentId != null" >
        equipment_id = #{equipmentId,jdbcType=CHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=INTEGER},
      </if>
      <if test="isScan != null" >
        is_scan = #{isScan,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airmcl.air.service.entity.ServiceTypeEquipment" >
    update mdd_api_service_type_equipment
    set service_type = #{serviceType,jdbcType=INTEGER},
      equipment_type_id = #{equipmentTypeId,jdbcType=CHAR},
      equipment_id = #{equipmentId,jdbcType=CHAR},
      state = #{state,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=INTEGER},
      is_scan = #{isScan,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="com.airmcl.air.service.entity.ServiceTypeEquipment" >
    insert into mdd_api_service_type_equipment (id, service_type, equipment_type_id, 
      equipment_id, state, createtime, 
      is_scan) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{_uuid}, #{item.serviceType,jdbcType=INTEGER}, #{item.equipmentTypeId,jdbcType=CHAR}, 
        #{item.equipmentId,jdbcType=CHAR}, #{item.state,jdbcType=TINYINT}, #{item.createtime,jdbcType=INTEGER}, 
        #{item.isScan,jdbcType=TINYINT})
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.service.entity.ServiceTypeEquipmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_service_type_equipment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>