<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.users.dao.ext.UsersExtMapper" >
  <update id="editReferee" parameterType="map"  >
    update mdd_api_users
    set  referee_mobile = #{ refereeMobile,jdbcType=CHAR},
      referee_id = #{ refereeId,jdbcType=CHAR},
      referee_name = #{ refereeName,jdbcType=VARCHAR}
 	where  user_id = #{ userId,jdbcType=CHAR} 
  </update>
   
</mapper>