<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.exchange.dao.ExchangeCodeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.exchange.entity.ExchangeCodeRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="admin_id" property="adminId" jdbcType="CHAR" />
    <result column="prefix_code" property="prefixCode" jdbcType="CHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="starttime" property="starttime" jdbcType="INTEGER" />
    <result column="endtime" property="endtime" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="coupon_id" property="couponId" jdbcType="VARCHAR" />
    <result column="combination_type" property="combinationType" jdbcType="TINYINT" />
    <result column="words" property="words" jdbcType="TINYINT" />
    <result column="numbers" property="numbers" jdbcType="SMALLINT" />
    <result column="times" property="times" jdbcType="INTEGER" />
    <result column="usetime" property="usetime" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="createtime" property="createtime" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.airmcl.air.exchange.entity.ExchangeCodeRecord" extends="BaseResultMap" >
    <result column="introduction" property="introduction" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, admin_id, prefix_code, type, starttime, endtime, money, coupon_id, combination_type, 
    words, numbers, times, usetime, state, createtime
  </sql>
  <sql id="Blob_Column_List" >
    introduction
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.airmcl.air.exchange.entity.ExchangeCodeRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mdd_api_exchange_code_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.exchange.entity.ExchangeCodeRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_exchange_code_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mdd_api_exchange_code_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mdd_api_exchange_code_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.airmcl.air.exchange.entity.ExchangeCodeRecordExample" >
    delete from mdd_api_exchange_code_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airmcl.air.exchange.entity.ExchangeCodeRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_exchange_code_record (title, admin_id, prefix_code, 
      type, starttime, endtime, 
      money, coupon_id, combination_type, 
      words, numbers, times, 
      usetime, state, createtime, 
      introduction)
    values (#{title,jdbcType=VARCHAR}, #{adminId,jdbcType=CHAR}, #{prefixCode,jdbcType=CHAR}, 
      #{type,jdbcType=TINYINT}, #{starttime,jdbcType=INTEGER}, #{endtime,jdbcType=INTEGER}, 
      #{money,jdbcType=DECIMAL}, #{couponId,jdbcType=VARCHAR}, #{combinationType,jdbcType=TINYINT}, 
      #{words,jdbcType=TINYINT}, #{numbers,jdbcType=SMALLINT}, #{times,jdbcType=INTEGER}, 
      #{usetime,jdbcType=INTEGER}, #{state,jdbcType=TINYINT}, #{createtime,jdbcType=INTEGER}, 
      #{introduction,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.airmcl.air.exchange.entity.ExchangeCodeRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_exchange_code_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        title,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="prefixCode != null" >
        prefix_code,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="combinationType != null" >
        combination_type,
      </if>
      <if test="words != null" >
        words,
      </if>
      <if test="numbers != null" >
        numbers,
      </if>
      <if test="times != null" >
        times,
      </if>
      <if test="usetime != null" >
        usetime,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=CHAR},
      </if>
      <if test="prefixCode != null" >
        #{prefixCode,jdbcType=CHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=INTEGER},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="couponId != null" >
        #{couponId,jdbcType=VARCHAR},
      </if>
      <if test="combinationType != null" >
        #{combinationType,jdbcType=TINYINT},
      </if>
      <if test="words != null" >
        #{words,jdbcType=TINYINT},
      </if>
      <if test="numbers != null" >
        #{numbers,jdbcType=SMALLINT},
      </if>
      <if test="times != null" >
        #{times,jdbcType=INTEGER},
      </if>
      <if test="usetime != null" >
        #{usetime,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airmcl.air.exchange.entity.ExchangeCodeRecordExample" resultType="java.lang.Integer" >
    select count(*) from mdd_api_exchange_code_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mdd_api_exchange_code_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.adminId != null" >
        admin_id = #{record.adminId,jdbcType=CHAR},
      </if>
      <if test="record.prefixCode != null" >
        prefix_code = #{record.prefixCode,jdbcType=CHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.starttime != null" >
        starttime = #{record.starttime,jdbcType=INTEGER},
      </if>
      <if test="record.endtime != null" >
        endtime = #{record.endtime,jdbcType=INTEGER},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.couponId != null" >
        coupon_id = #{record.couponId,jdbcType=VARCHAR},
      </if>
      <if test="record.combinationType != null" >
        combination_type = #{record.combinationType,jdbcType=TINYINT},
      </if>
      <if test="record.words != null" >
        words = #{record.words,jdbcType=TINYINT},
      </if>
      <if test="record.numbers != null" >
        numbers = #{record.numbers,jdbcType=SMALLINT},
      </if>
      <if test="record.times != null" >
        times = #{record.times,jdbcType=INTEGER},
      </if>
      <if test="record.usetime != null" >
        usetime = #{record.usetime,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=INTEGER},
      </if>
      <if test="record.introduction != null" >
        introduction = #{record.introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update mdd_api_exchange_code_record
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      admin_id = #{record.adminId,jdbcType=CHAR},
      prefix_code = #{record.prefixCode,jdbcType=CHAR},
      type = #{record.type,jdbcType=TINYINT},
      starttime = #{record.starttime,jdbcType=INTEGER},
      endtime = #{record.endtime,jdbcType=INTEGER},
      money = #{record.money,jdbcType=DECIMAL},
      coupon_id = #{record.couponId,jdbcType=VARCHAR},
      combination_type = #{record.combinationType,jdbcType=TINYINT},
      words = #{record.words,jdbcType=TINYINT},
      numbers = #{record.numbers,jdbcType=SMALLINT},
      times = #{record.times,jdbcType=INTEGER},
      usetime = #{record.usetime,jdbcType=INTEGER},
      state = #{record.state,jdbcType=TINYINT},
      createtime = #{record.createtime,jdbcType=INTEGER},
      introduction = #{record.introduction,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mdd_api_exchange_code_record
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      admin_id = #{record.adminId,jdbcType=CHAR},
      prefix_code = #{record.prefixCode,jdbcType=CHAR},
      type = #{record.type,jdbcType=TINYINT},
      starttime = #{record.starttime,jdbcType=INTEGER},
      endtime = #{record.endtime,jdbcType=INTEGER},
      money = #{record.money,jdbcType=DECIMAL},
      coupon_id = #{record.couponId,jdbcType=VARCHAR},
      combination_type = #{record.combinationType,jdbcType=TINYINT},
      words = #{record.words,jdbcType=TINYINT},
      numbers = #{record.numbers,jdbcType=SMALLINT},
      times = #{record.times,jdbcType=INTEGER},
      usetime = #{record.usetime,jdbcType=INTEGER},
      state = #{record.state,jdbcType=TINYINT},
      createtime = #{record.createtime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airmcl.air.exchange.entity.ExchangeCodeRecord" >
    update mdd_api_exchange_code_record
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=CHAR},
      </if>
      <if test="prefixCode != null" >
        prefix_code = #{prefixCode,jdbcType=CHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=INTEGER},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="couponId != null" >
        coupon_id = #{couponId,jdbcType=VARCHAR},
      </if>
      <if test="combinationType != null" >
        combination_type = #{combinationType,jdbcType=TINYINT},
      </if>
      <if test="words != null" >
        words = #{words,jdbcType=TINYINT},
      </if>
      <if test="numbers != null" >
        numbers = #{numbers,jdbcType=SMALLINT},
      </if>
      <if test="times != null" >
        times = #{times,jdbcType=INTEGER},
      </if>
      <if test="usetime != null" >
        usetime = #{usetime,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.airmcl.air.exchange.entity.ExchangeCodeRecord" >
    update mdd_api_exchange_code_record
    set title = #{title,jdbcType=VARCHAR},
      admin_id = #{adminId,jdbcType=CHAR},
      prefix_code = #{prefixCode,jdbcType=CHAR},
      type = #{type,jdbcType=TINYINT},
      starttime = #{starttime,jdbcType=INTEGER},
      endtime = #{endtime,jdbcType=INTEGER},
      money = #{money,jdbcType=DECIMAL},
      coupon_id = #{couponId,jdbcType=VARCHAR},
      combination_type = #{combinationType,jdbcType=TINYINT},
      words = #{words,jdbcType=TINYINT},
      numbers = #{numbers,jdbcType=SMALLINT},
      times = #{times,jdbcType=INTEGER},
      usetime = #{usetime,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=INTEGER},
      introduction = #{introduction,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airmcl.air.exchange.entity.ExchangeCodeRecord" >
    update mdd_api_exchange_code_record
    set title = #{title,jdbcType=VARCHAR},
      admin_id = #{adminId,jdbcType=CHAR},
      prefix_code = #{prefixCode,jdbcType=CHAR},
      type = #{type,jdbcType=TINYINT},
      starttime = #{starttime,jdbcType=INTEGER},
      endtime = #{endtime,jdbcType=INTEGER},
      money = #{money,jdbcType=DECIMAL},
      coupon_id = #{couponId,jdbcType=VARCHAR},
      combination_type = #{combinationType,jdbcType=TINYINT},
      words = #{words,jdbcType=TINYINT},
      numbers = #{numbers,jdbcType=SMALLINT},
      times = #{times,jdbcType=INTEGER},
      usetime = #{usetime,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="com.airmcl.air.exchange.entity.ExchangeCodeRecord" >
    insert into mdd_api_exchange_code_record (id, title, admin_id, prefix_code, 
      type, starttime, endtime, 
      money, coupon_id, combination_type, 
      words, numbers, times, 
      usetime, state, createtime, 
      introduction) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{_uuid}, #{item.title,jdbcType=VARCHAR}, #{item.adminId,jdbcType=CHAR}, #{item.prefixCode,jdbcType=CHAR}, 
        #{item.type,jdbcType=TINYINT}, #{item.starttime,jdbcType=INTEGER}, #{item.endtime,jdbcType=INTEGER}, 
        #{item.money,jdbcType=DECIMAL}, #{item.couponId,jdbcType=VARCHAR}, #{item.combinationType,jdbcType=TINYINT}, 
        #{item.words,jdbcType=TINYINT}, #{item.numbers,jdbcType=SMALLINT}, #{item.times,jdbcType=INTEGER}, 
        #{item.usetime,jdbcType=INTEGER}, #{item.state,jdbcType=TINYINT}, #{item.createtime,jdbcType=INTEGER}, 
        #{item.introduction,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.exchange.entity.ExchangeCodeRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_exchange_code_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>