<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.app.dao.ext.BannerExtMapper">

	<insert id="insert"
		parameterType="com.airmcl.air.app.entity.Banner">
		<selectKey keyProperty="id" order="AFTER"
			resultType="java.lang.Integer">
			select LAST_INSERT_ID() AS id
		</selectKey>
		insert into mdd_api_banner
		(province_id, city_id, title,
		tag, islink,url,
		service_id,service_type, sort,
		state,createtime, description)
		values
		(#{province_id,jdbcType=INTEGER}, #{city_id,jdbcType=INTEGER},#{title,jdbcType=VARCHAR},
		#{tag,jdbcType=VARCHAR}, #{islink,jdbcType=TINYINT},
		#{url,jdbcType=VARCHAR},
		#{service_id,jdbcType=INTEGER},#{service_type,jdbcType=VARCHAR},
		#{sort,jdbcType=INTEGER},
		#{state,jdbcType=TINYINT},#{createtime,jdbcType=INTEGER},
		#{description,jdbcType=LONGVARCHAR})
	</insert>

	<select id="findBanner"
		resultType="com.airmcl.air.app.entity.Banner"
		parameterType="com.airmcl.air.app.enter.BannerEnterParams">
		select mp.original_path as bannerImage,mp.thumb_path,mb.*
		FROM mdd_api_banner mb LEFT JOIN mdd_api_photo mp on mb.id = mp.post_id where 1=1
		AND mb.state != 0 AND mp.type_code = 'banner'
		<if test="id != null">
			AND mb.id = #{id}
		</if>
		<if test="title != null">
			AND mb.title LIKE '%${title}%'
		</if>
		<if test="tag != null">
			AND mb.tag LIKE '%${tag}%'
		</if>
		<if test="islink != null">
			AND mb.islink = #{islink}
		</if>
		<if test="cityId != null">AND mb.city_id IN
			<foreach collection="cityId" index="index" item="item" open="(" separator="," close=")">
            	 #{item}
            </foreach>
		</if>
		<if test="startcreatetime != null &amp;&amp; endcreatetime != null ">AND mb.createtime between #{startcreatetime} AND #{endcreatetime}
		</if>
		<if test="state != null">AND mb.state IN
			<foreach collection="state" index="index" item="item" open="(" separator="," close=")">
            	 #{item}
            </foreach>
		</if>
		order by mb.sort desc
		limit #{pageNo},#{pageSize}
	</select>

	<select id="countBanner"
		parameterType="com.airmcl.air.app.enter.BannerEnterParams" resultType="java.lang.Integer">
		select COUNT(1)
		FROM mdd_api_banner mb LEFT JOIN mdd_api_photo mp on mb.id = mp.post_id where 1=1
		AND mb.state != 0
		AND mp.type_code = 'banner'
		<if test="id != null">
			AND mb.id = #{id}
		</if>
		<if test="title != null">
			AND mb.title LIKE '%${title}%'
		</if>
		<if test="tag != null">
			AND mb.tag LIKE '%${tag}%'
		</if>
		<if test="islink != islink">
			AND mb.islink = #{islink}
		</if>
		<if test="cityId != null">AND mb.city_id IN
			<foreach collection="cityId" index="index" item="item" open="(" separator="," close=")">
            	 #{item}
            </foreach>
		</if>
		<if test="startcreatetime != null &amp;&amp; endcreatetime != null ">AND mb.createtime between #{startcreatetime} AND #{endcreatetime}
		</if>
		<if test="state != null">AND mb.state IN
			<foreach collection="state" index="index" item="item" open="(" separator="," close=")">
            	 #{item}
            </foreach>
		</if>
	</select>

	<select id="selectByPostidSelective" parameterType="com.airmcl.air.app.entity.Banner" resultType="com.airmcl.air.app.entity.Photo">
		SELECT post_id,original_path from mdd_api_photo where post_id = #{id,jdbcType=INTEGER} and  type_code = 'banner' order by createtime desc limit 1
	</select>

	<update id="updateBannerPhoto" parameterType="com.airmcl.air.app.entity.Banner" >
		update mdd_api_photo
		SET original_path = #{bannerImage,jdbcType=VARCHAR}
		where post_id = #{id,jdbcType=INTEGER}
		and type_code = 'banner'
	</update>

</mapper>