<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.airmcl.air.app.dao.ext.IndexColumnExtMapper">
	<select id="findPageByParams"
		resultType="com.airmcl.air.app.entity.IndexOutColumnAndModel"
		parameterType="com.airmcl.air.app.entity.IndexEnterColumnAndModelParams">
		select
		mc.id,mc.title,mc.type,mc.city_id,mc.image,mc.province_id,mc.service_id,mc.service_type,
		mc.sort,mc.updatetime,mc.createtime,mc.state,ms.service_name
		as serviceName
		from
		mdd_api_index_column mc
		left join
		mdd_api_service ms on mc.service_id = ms.id
		where 1=1 AND mc.state not in (0)
		<if test="id != null">AND mc.id = #{id}</if>
		<if test="type != null">AND mc.type IN 
			<foreach collection="type" index="index" item="item" open="(" separator="," close=")">
            	 #{item}
            </foreach>
		</if>
		<if test="cityId != null">AND mc.city_id IN
			<foreach collection="cityId" index="index" item="item" open="(" separator="," close=")">
            	 #{item}
            </foreach>
		</if>
		<if test="startUpdateTime != null &amp; endUpdateTime != null ">AND mc.updatetime between #{startUpdateTime} AND #{endUpdateTime}
		</if>
		<if test="startCreateTime != null &amp; endCreateTime != null ">AND mc.createtime between #{startCreateTime} AND #{endCreateTime}
		</if>
		<if test="state != null">AND mc.state IN
			<foreach collection="state" index="index" item="item" open="(" separator="," close=")">
            	 #{item}
            </foreach>
		</if>
		<if test="title != null">AND mc.title LIKE '%${title}%'</if>
		order by mc.createtime desc
		limit #{pageNo},#{pageSize}
	</select>

	<select id="countColumnAndModel" parameterType="com.airmcl.air.app.entity.IndexEnterColumnAndModelParams" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM mdd_api_index_column mc
		WHERE 1=1 AND mc.state not in (0)
		<if test="id != null">AND mc.id = #{id}</if>
		<if test="type != null">AND mc.type IN 
			<foreach collection="type" index="index" item="item" open="(" separator="," close=")">
            	 #{item}
            </foreach>
		</if>
		<if test="cityId != null">AND mc.city_id IN
			<foreach collection="cityId" index="index" item="item" open="(" separator="," close=")">
            	 #{item}
            </foreach>
		</if>
		<if test="startUpdateTime != null &amp; endUpdateTime != null ">AND mc.updatetime between #{startUpdateTime} AND #{endUpdateTime}
		</if>
		<if test="startCreateTime != null &amp; endCreateTime != null ">AND mc.createtime between #{startCreateTime} AND #{endCreateTime}
		</if>
		<if test="state != null">AND mc.state IN
			<foreach collection="state" index="index" item="item" open="(" separator="," close=")">
            	 #{item}
            </foreach>
		</if>		
		<if test="title != null">AND mc.title LIKE '%${title}%'</if>
	</select>
	
</mapper>