<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.oss.dao.MddAttachmentMapper" >
  <resultMap id="BaseResultMap" type="com.airmcl.air.oss.entity.MddAttachment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="imagewidth" property="imagewidth" jdbcType="VARCHAR" />
    <result column="imageheight" property="imageheight" jdbcType="VARCHAR" />
    <result column="imagetype" property="imagetype" jdbcType="VARCHAR" />
    <result column="imageframes" property="imageframes" jdbcType="INTEGER" />
    <result column="filesize" property="filesize" jdbcType="INTEGER" />
    <result column="mimetype" property="mimetype" jdbcType="VARCHAR" />
    <result column="extparam" property="extparam" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="INTEGER" />
    <result column="updatetime" property="updatetime" jdbcType="INTEGER" />
    <result column="uploadtime" property="uploadtime" jdbcType="INTEGER" />
    <result column="storage" property="storage" jdbcType="CHAR" />
    <result column="imagemodel" property="imagemodel" jdbcType="CHAR" />
    <result column="bucket" property="bucket" jdbcType="CHAR" />
    <result column="sha1" property="sha1" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, url, imagewidth, imageheight, imagetype, imageframes, filesize, mimetype, extparam, 
    createtime, updatetime, uploadtime, `storage`, imagemodel, bucket, sha1
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.airmcl.air.oss.entity.MddAttachmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_attachment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mdd_api_attachment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mdd_api_attachment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.airmcl.air.oss.entity.MddAttachmentExample" >
    delete from mdd_api_attachment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.airmcl.air.oss.entity.MddAttachment" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_attachment (url, imagewidth, imageheight, 
      imagetype, imageframes, filesize, 
      mimetype, extparam, createtime, 
      updatetime, uploadtime, `storage`, 
      imagemodel, bucket, sha1)
    values (#{url,jdbcType=VARCHAR}, #{imagewidth,jdbcType=VARCHAR}, #{imageheight,jdbcType=VARCHAR}, 
      #{imagetype,jdbcType=VARCHAR}, #{imageframes,jdbcType=INTEGER}, #{filesize,jdbcType=INTEGER}, 
      #{mimetype,jdbcType=VARCHAR}, #{extparam,jdbcType=VARCHAR}, #{createtime,jdbcType=INTEGER}, 
      #{updatetime,jdbcType=INTEGER}, #{uploadtime,jdbcType=INTEGER}, #{storage,jdbcType=CHAR}, 
      #{imagemodel,jdbcType=CHAR}, #{bucket,jdbcType=CHAR}, #{sha1,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.airmcl.air.oss.entity.MddAttachment" useGeneratedKeys="true" keyProperty="id" >
    insert into mdd_api_attachment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="url != null" >
        url,
      </if>
      <if test="imagewidth != null" >
        imagewidth,
      </if>
      <if test="imageheight != null" >
        imageheight,
      </if>
      <if test="imagetype != null" >
        imagetype,
      </if>
      <if test="imageframes != null" >
        imageframes,
      </if>
      <if test="filesize != null" >
        filesize,
      </if>
      <if test="mimetype != null" >
        mimetype,
      </if>
      <if test="extparam != null" >
        extparam,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="uploadtime != null" >
        uploadtime,
      </if>
      <if test="storage != null" >
        `storage`,
      </if>
      <if test="imagemodel != null" >
        imagemodel,
      </if>
      <if test="bucket != null" >
        bucket,
      </if>
      <if test="sha1 != null" >
        sha1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="imagewidth != null" >
        #{imagewidth,jdbcType=VARCHAR},
      </if>
      <if test="imageheight != null" >
        #{imageheight,jdbcType=VARCHAR},
      </if>
      <if test="imagetype != null" >
        #{imagetype,jdbcType=VARCHAR},
      </if>
      <if test="imageframes != null" >
        #{imageframes,jdbcType=INTEGER},
      </if>
      <if test="filesize != null" >
        #{filesize,jdbcType=INTEGER},
      </if>
      <if test="mimetype != null" >
        #{mimetype,jdbcType=VARCHAR},
      </if>
      <if test="extparam != null" >
        #{extparam,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=INTEGER},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=INTEGER},
      </if>
      <if test="storage != null" >
        #{storage,jdbcType=CHAR},
      </if>
      <if test="imagemodel != null" >
        #{imagemodel,jdbcType=CHAR},
      </if>
      <if test="bucket != null" >
        #{bucket,jdbcType=CHAR},
      </if>
      <if test="sha1 != null" >
        #{sha1,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.airmcl.air.oss.entity.MddAttachmentExample" resultType="java.lang.Integer" >
    select count(*) from mdd_api_attachment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mdd_api_attachment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.imagewidth != null" >
        imagewidth = #{record.imagewidth,jdbcType=VARCHAR},
      </if>
      <if test="record.imageheight != null" >
        imageheight = #{record.imageheight,jdbcType=VARCHAR},
      </if>
      <if test="record.imagetype != null" >
        imagetype = #{record.imagetype,jdbcType=VARCHAR},
      </if>
      <if test="record.imageframes != null" >
        imageframes = #{record.imageframes,jdbcType=INTEGER},
      </if>
      <if test="record.filesize != null" >
        filesize = #{record.filesize,jdbcType=INTEGER},
      </if>
      <if test="record.mimetype != null" >
        mimetype = #{record.mimetype,jdbcType=VARCHAR},
      </if>
      <if test="record.extparam != null" >
        extparam = #{record.extparam,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=INTEGER},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=INTEGER},
      </if>
      <if test="record.uploadtime != null" >
        uploadtime = #{record.uploadtime,jdbcType=INTEGER},
      </if>
      <if test="record.storage != null" >
        `storage` = #{record.storage,jdbcType=CHAR},
      </if>
      <if test="record.imagemodel != null" >
        imagemodel = #{record.imagemodel,jdbcType=CHAR},
      </if>
      <if test="record.bucket != null" >
        bucket = #{record.bucket,jdbcType=CHAR},
      </if>
      <if test="record.sha1 != null" >
        sha1 = #{record.sha1,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mdd_api_attachment
    set id = #{record.id,jdbcType=INTEGER},
      url = #{record.url,jdbcType=VARCHAR},
      imagewidth = #{record.imagewidth,jdbcType=VARCHAR},
      imageheight = #{record.imageheight,jdbcType=VARCHAR},
      imagetype = #{record.imagetype,jdbcType=VARCHAR},
      imageframes = #{record.imageframes,jdbcType=INTEGER},
      filesize = #{record.filesize,jdbcType=INTEGER},
      mimetype = #{record.mimetype,jdbcType=VARCHAR},
      extparam = #{record.extparam,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=INTEGER},
      updatetime = #{record.updatetime,jdbcType=INTEGER},
      uploadtime = #{record.uploadtime,jdbcType=INTEGER},
      `storage` = #{record.storage,jdbcType=CHAR},
      imagemodel = #{record.imagemodel,jdbcType=CHAR},
      bucket = #{record.bucket,jdbcType=CHAR},
      sha1 = #{record.sha1,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.airmcl.air.oss.entity.MddAttachment" >
    update mdd_api_attachment
    <set >
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="imagewidth != null" >
        imagewidth = #{imagewidth,jdbcType=VARCHAR},
      </if>
      <if test="imageheight != null" >
        imageheight = #{imageheight,jdbcType=VARCHAR},
      </if>
      <if test="imagetype != null" >
        imagetype = #{imagetype,jdbcType=VARCHAR},
      </if>
      <if test="imageframes != null" >
        imageframes = #{imageframes,jdbcType=INTEGER},
      </if>
      <if test="filesize != null" >
        filesize = #{filesize,jdbcType=INTEGER},
      </if>
      <if test="mimetype != null" >
        mimetype = #{mimetype,jdbcType=VARCHAR},
      </if>
      <if test="extparam != null" >
        extparam = #{extparam,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=INTEGER},
      </if>
      <if test="uploadtime != null" >
        uploadtime = #{uploadtime,jdbcType=INTEGER},
      </if>
      <if test="storage != null" >
        `storage` = #{storage,jdbcType=CHAR},
      </if>
      <if test="imagemodel != null" >
        imagemodel = #{imagemodel,jdbcType=CHAR},
      </if>
      <if test="bucket != null" >
        bucket = #{bucket,jdbcType=CHAR},
      </if>
      <if test="sha1 != null" >
        sha1 = #{sha1,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airmcl.air.oss.entity.MddAttachment" >
    update mdd_api_attachment
    set url = #{url,jdbcType=VARCHAR},
      imagewidth = #{imagewidth,jdbcType=VARCHAR},
      imageheight = #{imageheight,jdbcType=VARCHAR},
      imagetype = #{imagetype,jdbcType=VARCHAR},
      imageframes = #{imageframes,jdbcType=INTEGER},
      filesize = #{filesize,jdbcType=INTEGER},
      mimetype = #{mimetype,jdbcType=VARCHAR},
      extparam = #{extparam,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=INTEGER},
      uploadtime = #{uploadtime,jdbcType=INTEGER},
      `storage` = #{storage,jdbcType=CHAR},
      imagemodel = #{imagemodel,jdbcType=CHAR},
      bucket = #{bucket,jdbcType=CHAR},
      sha1 = #{sha1,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="com.airmcl.air.oss.entity.MddAttachment" >
    insert into mdd_api_attachment (id, url, imagewidth, imageheight, 
      imagetype, imageframes, filesize, 
      mimetype, extparam, createtime, 
      updatetime, uploadtime, `storage`, 
      imagemodel, bucket, sha1
      ) values 
    <foreach collection="list" item="item" index="index" separator="," >
      (#{_uuid}, #{item.url,jdbcType=VARCHAR}, #{item.imagewidth,jdbcType=VARCHAR}, #{item.imageheight,jdbcType=VARCHAR}, 
        #{item.imagetype,jdbcType=VARCHAR}, #{item.imageframes,jdbcType=INTEGER}, #{item.filesize,jdbcType=INTEGER}, 
        #{item.mimetype,jdbcType=VARCHAR}, #{item.extparam,jdbcType=VARCHAR}, #{item.createtime,jdbcType=INTEGER}, 
        #{item.updatetime,jdbcType=INTEGER}, #{item.uploadtime,jdbcType=INTEGER}, #{item.storage,jdbcType=CHAR}, 
        #{item.imagemodel,jdbcType=CHAR}, #{item.bucket,jdbcType=CHAR}, #{item.sha1,jdbcType=CHAR}
        )
    </foreach>
  </insert>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.airmcl.air.oss.entity.MddAttachmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mdd_api_attachment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>