<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.red.dao.ext.RedEventGiftExtMapper" >
 <resultMap type="com.airmcl.air.red.entity.RedEventGiftVo" id="redEventGiftVo" extends="com.airmcl.air.red.dao.RedEventGiftMapper.BaseResultMap">
   <result column="gift_name" property="gitfName" jdbcType="VARCHAR" />
 </resultMap>
 <select id="selectRedEventGiftsByRedId" parameterType="java.lang.Integer" resultMap="redEventGiftVo">
   select *,(select coupon_title from mdd_api_coupon where id = gift_id)as gift_name from mdd_api_red_event_gift 
    where red_event_id in 
       (select id from mdd_api_red_event where red_id = #{redId,jdbcType=INTEGER} and state=1)   and state=1
 </select>
 <update id="updateRedEventGiftsByRedEventId" parameterType="java.lang.Integer">
    UPDATE mdd_api_red_event_gift SET state = 0 where (red_event_id=#{redEventId,jdbcType=INTEGER} and state =1)
 </update>
</mapper>