<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airmcl.air.service.dao.ext.ServiceCityExtMapper" >
  <resultMap type="com.airmcl.air.service.entity.ServiceCity" id="OpenCity">
<!--      <id column="id" property="id" jdbcType="INTEGER" /> -->
     <result column="name" property="cityName" jdbcType="VARCHAR" />
     <result column="id" property="cityId" jdbcType="INTEGER" />
  </resultMap>
  <select id="selectOpenCity" resultMap="OpenCity">
      select id,name from mdd_api_open_city  where open_reserve=1 and `level`=2
  </select>
  <select id="selectOpenCityByServiceId" parameterType="java.lang.Integer" resultMap="com.airmcl.air.service.dao.ServiceCityMapper.BaseResultMap">
    select * FROM mdd_api_service_city where service_id=#{serviceId}   
  </select>
</mapper>